<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="faceletValidator" name="%extension-point.name" schema="schema/faceletValidator.exsd"/>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="org.eclipse.wst.html.ui.StructuredTextViewerConfigurationHTML"
            target="org.eclipse.wst.html.core.htmlsource">
      </sourceViewerConfiguration>
      <provisionalConfiguration
            class="org.eclipse.jst.jsf.facelet.ui.internal.contentassist.XHTMLContentAssistProcessor"
            target="org.eclipse.wst.html.HTML_DEFAULT"
            type="contentassistprocessor">
      </provisionalConfiguration>
     <provisionalConfiguration 
        type="contentassistprocessor" 
        class="org.eclipse.jst.jsf.facelet.ui.internal.contentassist.CompositeAttributeAssistProcessor" 
        target="org.eclipse.wst.html.HTML_DEFAULT" />
      <documentationTextHover
          class="org.eclipse.jst.jsf.facelet.ui.internal.hover.FaceletHover"
          target="org.eclipse.wst.html.HTML_DEFAULT">
    </documentationTextHover>
    </extension>

    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             class="org.eclipse.jst.jsf.facelet.ui.internal.htmleditor.FaceletELHyperlinkDetector"
             id="org.eclipse.jst.jsf.ui.elhyperlinkdetector"
             name="%EL_Hyperlinkdetector_name"
             targetId="org.eclipse.wst.html.core.htmlsource">
       </hyperlinkDetector>
    </extension>

   <extension
        id="FaceletValidationMarker"
        name="%FaceletValidatorMarker"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.validation.problemmarker">
      </super>
    </extension>

   <extension
        point="org.eclipse.wst.validation.validatorV2"
        id="FaceletHTMLValidator"
        name="%FaceletHTMLValidator_name">
        <validator
            build="true"
            class="org.eclipse.jst.jsf.facelet.ui.internal.validation.HTMLValidator"
            manual="true"
            markerId="org.eclipse.jst.jsf.facelet.ui.FaceletValidationMarker"
            version="1">

         <include>
            <rules>
               <projectNature
                     id="org.eclipse.jdt.core.javanature">
               </projectNature>
            </rules>
         </include>

         <include>
            <rules>
               <contentType
                     exactMatch="false"
                     id="jsf.facelet">
               </contentType>
               <contentType
                     exactMatch="false"
                     id="jsf.facelet.composite">
               </contentType>
            </rules>
         </include>
         <group
               id="org.eclipse.wst.sse.core.structuredModelGroup">
         </group>

        </validator>
        </extension>
        
       <!--<extension
        point="org.eclipse.wst.validation.validator"
        id="FaceletTaglibValidator"
        name="%FaceletTaglibValidator">
        <validator>
            <projectNature id="org.eclipse.wst.common.modulecore.ModuleCoreNature" />
            <projectNature id="org.eclipse.jdt.core.javanature" />
            <filter
                objectClass="org.eclipse.core.resources.IFile"
                nameFilter="faces-config.xml">
            </filter>
            <markerId
               markerIdValue="JSFSemanticsValidatorMarker">
            </markerId>
            <helper 
                class="org.eclipse.wst.validation.internal.operations.WorkbenchContext">
            </helper>
            <run
                class="org.eclipse.jst.jsf.validation.internal.appconfig.AppConfigValidator"
                incremental="true"
                fullBuild="true"
            />
        </validator>
    </extension>-->
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/templates.xml"
            translations="$nl$/templates/templates.properties">
      </include>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.modelQueryExtensions">
      <modelQueryExtension
            class="org.eclipse.jst.jsf.facelet.ui.internal.contentassist.MyModelQueryExtension"
            contentType="org.eclipse.wst.html.core.htmlsource">
      </modelQueryExtension>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.facelet.ui.faceletValidator">
      <validationStrategy
            class="org.eclipse.jst.jsf.facelet.ui.internal.validation.DefaultFaceletValidationStrategy"
            id="org.eclipse.jst.jsf.facelet.ui.defaultValidationStrategy">
      </validationStrategy>
   </extension>
</plugin>
