<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="jsfLibraries" name="%extension-point.name.0" schema="schema/jsfLibraries.exsd"/>
   <extension-point id="pluginProvidedJsfLibraries" name="%extension-point.name.1" schema="schema/pluginProvidedJsfLibraries.exsd"/>
   <extension-point id="variableresolver" name="%extension-point.name.8" schema="schema/variableresolver.exsd"/>
   <extension-point id="propertyresolver" name="%extension-point.name.2" schema="schema/propertyresolver.exsd"/>
   <extension-point id="methodresolver" name="%extension-point.name.3" schema="schema/methodresolver.exsd"/>
   <extension-point id="externalcontext" name="%extension-point.name.4" schema="schema/externalcontext.exsd"/>
   <extension-point id="AttributeValueRuntimeTypes" name="%extension-point.name.9" schema="schema/AttributeValueRuntimeTypes.exsd"/>
   <extension-point id="MetaDataEnabledFeatures" name="%extension-point.name.5" schema="schema/MetaDataEnabledFeatures.exsd"/>
   <extension-point id="tagregistry" name="%extension-point.name.10" schema="schema/tagregistry.exsd"/>
   <extension-point id="viewhandler" name="%extension-point.name.6" schema="schema/viewhandler.exsd"/>
   <extension-point id="customViewMapper" name="%extension-point.name.7" schema="schema/customViewMapper.exsd"/>
   <extension-point id="jsfFacetConfiguration" name="%extension-point.name.11" schema="schema/jsfFacetConfiguration.exsd"/>
   <extension-point id="symbolContextResolverFactory" name="%extension-point.name.12" schema="schema/symbolContextResolverFactory.exsd"/>
   <extension-point id="tagRegistryFactory" name="%extension-point.name.13" schema="schema/tagRegistryFactory.exsd"/>
   <extension-point id="jsfAppConfigLocatorProviderFactory" name="%extension-point.name.14" schema="schema/jsfAppConfigLocatorProviderFactory.exsd"/>
   <extension-point id="jsfAppConfigManagerFactory" name="%extension-point.name.15" schema="schema/jsfAppConfigManagerFactory.exsd"/>
   <extension-point id="viewHandlerOverride" name="%extension-point.name.viewHandlerOverride" schema="schema/viewHandlerOverride.exsd"/>
   <extension point="org.eclipse.emf.ecore.generated_package">
        <package 
            uri = "http://org.eclipse.jst.jsf.core/constraints.ecore" 
            class = "org.eclipse.jst.jsf.validation.internal.constraints.ConstraintsPackage"
            genModel = "model/constraints.genmodel" /> 
         <package 
           uri = "http://org.eclipse.jsf.pagedesigner/paletteInfos.ecore" 
           class = "org.eclipse.jst.jsf.tagdisplay.internal.paletteinfos.PaletteInfosPackage"
           genModel = "model/paletteInfos.genmodel" />
         <package 
           uri = "http://org.eclipse.jst.jsf.core/componentMapping.ecore" 
           class = "org.eclipse.jst.jsf.designtime.internal.view.mapping.viewmapping.ComponentMappingPackage"
           genModel = "model/componentMapping.genmodel" />
   </extension> 
  <!-- JSF Project Facets -->
	<extension
       id="org.eclipse.jst.jsf.project.facet"
       name="%plugin.facet.extension.name"
       point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet id="jst.jsf">
      <label>%plugin.facet.name</label>
      <description>%plugin.facet.description</description>
    </project-facet>

    <project-facet-version facet="jst.jsf" version="1.1">
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.3"/>
        </and>
      </constraint>
    </project-facet-version> 

    <project-facet-version facet="jst.jsf" version="1.2">
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.5"/>
        </and>
      </constraint>
    </project-facet-version> 

    <project-facet-version facet="jst.jsf" version="2.0">
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.5"/>
        </and>
      </constraint>
    </project-facet-version>

    <project-facet-version facet="jst.jsf" version="2.1">
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.5"/>
        </and>
      </constraint>
    </project-facet-version>
    <project-facet-version
          facet="jst.jsf"
          version="2.2">
       <constraint>
          <and>
             <requires
                   facet="jst.web"
                   version="[2.5">
             </requires>
          </and>
       </constraint>
    </project-facet-version>
	<project-facet-version facet="jst.jsf" version="2.3">
	   <constraint>
	      <and>
	         <requires facet="jst.web" version="[2.5" />
	      </and>
	   </constraint>
	`</project-facet-version>

    <action id="jst.jsf.v11.install" facet="jst.jsf" type="INSTALL" version="1.1">
      	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider"/>
    </action>  
      
    <action id="jst.jsf.v11.uninstall" facet="jst.jsf" type="UNINSTALL" version="1.1" >
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallConfig$Factory"/>
	 	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate"/>
 	</action>
	
 	<action id="jst.jsf.v12.install" facet="jst.jsf" type="INSTALL" version="1.2">
      	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider"/>
    </action>  
      
    <action id="jst.jsf.v12.uninstall" facet="jst.jsf" version="1.2" type="UNINSTALL">
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallConfig$Factory"/>
	 	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate"/>
 	</action>  

 	<action id="jst.jsf.v20.install" facet="jst.jsf" type="INSTALL" version="2.0">
      	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider"/>
    </action>  
      
    <action id="jst.jsf.v20.uninstall" facet="jst.jsf" version="2.0" type="UNINSTALL">
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallConfig$Factory"/>
	 	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate"/>
 	</action>

 	<action id="jst.jsf.v21.install" facet="jst.jsf" type="INSTALL" version="2.1">
      	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider"/>
    </action>
  <action
        facet="jst.jsf"
        id="jst.jsf.v22.install"
        type="INSTALL"
        version="2.2">
     <delegate
           class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate">
     </delegate>
     <config-factory
           class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider">
     </config-factory>
  </action>  
      
    <action id="jst.jsf.v21.uninstall" facet="jst.jsf" version="2.1" type="UNINSTALL">
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallConfig$Factory"/>
	 	<delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate"/>
 	</action>
    <action
          facet="jst.jsf"
          id="jst.jsf.v22.uninstall"
          type="UNINSTALL"
          version="2.2">
       <config-factory
             class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallConfig$Factory">
       </config-factory>
       <delegate
             class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate">
       </delegate>
    </action>
  <action
        facet="jst.jsf"
        id="jst.jsf.v23.install"
        type="INSTALL"
        version="2.3">
     <delegate
           class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate">
     </delegate>
     <config-factory
           class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider">
     </config-factory>
  </action>  
    <action
          facet="jst.jsf"
          id="jst.jsf.v23.uninstall"
          type="UNINSTALL"
          version="2.3">
       <config-factory
             class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallConfig$Factory">
       </config-factory>
       <delegate
             class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate">
       </delegate>
    </action>
	      	
  </extension> 
  
  <extension
        point="org.eclipse.wst.common.project.facet.core.listeners">
     <listener
           class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetPrimaryRuntimeChangedListener"
           eventTypes="PRIMARY_RUNTIME_CHANGED">
     </listener>
  </extension>
  
  <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <static-preset
           id="preset.jst.jsf.v1_1" extends="default.configuration">
        <label>%JSFv11Project</label>
        <facet id="jst.java" version="1.4" />
        <facet id="jst.web" version="2.4"/>
        <facet id="jst.jsf" version="1.1" />
        <description>%JSFv11PresetDesc</description>
     </static-preset>
     <static-preset
           id="preset.jst.jsf.v1_2" extends="default.configuration">
	    <label>%JSFv12Project</label>
	    <facet id="jst.java" version="1.5" />
	    <facet id="jst.web" version="2.5"/>
	    <facet id="jst.jsf" version="1.2" />
     <description>
        %JSFv12PresetDesc
     </description>
     </static-preset>
     <static-preset
           id="preset.jst.jsf.v2_0" extends="default.configuration">
        <label>
           %JSFv20Project
        </label>
        <facet
              id="jst.java"
              version="1.6">
        </facet>
        <facet
              id="jst.web"
              version="3.0">
        </facet>
        <facet
              id="jst.jsf"
              version="2.0">
        </facet>
        <description>
           %JSFv20PresetDesc
        </description>
     </static-preset>
     <static-preset
           id="preset.jst.jsf.v2_1" extends="default.configuration">
        <label>
           %JSFv21Project
        </label>
        <facet
              id="jst.java"
              version="1.6">
        </facet>
        <facet
              id="jst.web"
              version="3.0">
        </facet>
        <facet
              id="jst.jsf"
              version="2.1">
        </facet>
        <description>
           %JSFv21PresetDesc
        </description>
     </static-preset>
     <static-preset
           extends="default.configuration"
           id="preset.jst.jsf.v2_2">
        <label>
           %JSFv22Project
        </label>
        <facet
              id="jst.java"
              version="1.6">
        </facet>
        <facet
              id="jst.web"
              version="3.0">
        </facet>
        <facet
              id="jst.jsf"
              version="2.2">
        </facet>
        <description>
           %JSFv22PresetDesc
        </description>
     </static-preset>
     
	<static-preset extends="default.configuration" id="preset.jst.jsf.v2_3">
	   <label>%JSFv23Project</label>
	   <facet id="jst.java" version="1.8" />
	   <facet id="jst.web" version="4.0" />
	   <facet id="jst.jsf" version="2.3" />
	   <description>%JSFv23PresetDesc</description>
	</static-preset>
	
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
		<runtime-component any="true"/>
        	<facet id="jst.jsf" version="1.1,1.2,2.0,2.1,2.2,2.3"/> 
    </supported>
  </extension>
    
  <extension
     name="JSF JSP File URL"
     point="org.eclipse.jst.j2ee.web.fileURL">
     <fileURL id="jsfPage"><run class="org.eclipse.jst.jsf.core.internal.launch.JSFFileURL"/></fileURL>
  </extension>
  
      <extension
         point="org.eclipse.jst.jsf.common.symbolSourceProvider">
      <symbolSourceId factory="org.eclipse.jst.jsf.designtime.internal.symbols.JSPTagVariableSymbolSourceProvider"/>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.common.contextSymbolFactory">
      <contextSymbolFactory
            factory="org.eclipse.jst.jsf.designtime.internal.jsp.JSPDefaultSymbolFactory"
            factoryId="org.eclipse.jst.jsf.designtime.core.loadBundle"/>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.core.variableresolver">
      <variableresolver
            class="org.eclipse.jst.jsf.designtime.internal.symbols.ConfigBasedDTVariableResolver"
            id="org.eclipse.jst.jsf.core.variableresolver.default.decorative"/>
   </extension>
    <extension
         point="org.eclipse.jst.jsf.core.variableresolver">
        <variableresolver
            class="org.eclipse.jst.jsf.designtime.el.DefaultDTVariableResolver"
            id="org.eclipse.jst.jsf.core.variableresolver.default"/>
    </extension>
   <extension
         point="org.eclipse.jst.jsf.core.propertyresolver">
      <propertyresolver
            class="org.eclipse.jst.jsf.designtime.el.DefaultDTPropertyResolver"
            id="org.eclipse.jst.jsf.core.propertyresolver.default"/>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.core.propertyresolver">
      <propertyresolver
            class="org.eclipse.jst.jsf.designtime.internal.symbols.ConfigBasedDTPropertyResolver"
            id="org.eclipse.jst.jsf.core.propertyresolver.default.decorative"
            instancePerProject="true">
      </propertyresolver>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.core.methodresolver">
      <methodresolver
            class="org.eclipse.jst.jsf.designtime.el.DefaultDTMethodResolver"
            id="org.eclipse.jst.jsf.core.methodresolver.default"/>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.core.externalcontext">
      <externalcontext
            class="org.eclipse.jst.jsf.designtime.context.DefaultDTExternalContextFactory"
            id="org.eclipse.jst.jsf.core.externalcontext.default"/>
   </extension>
   
   <extension
         point="org.eclipse.jst.jsf.core.AttributeValueRuntimeTypes">

      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.metadataprocessors.AbstractRootTypeDescriptor"
            id="attributevalues.BaseType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.StringType"
            id="attributevalues.StringType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.AnyStringType"
            id="attributevalues.AnyStringType">
      </attributeValueRuntimeType>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.BooleanType"
            id="attributevalues.BooleanType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.LongType"
            id="attributevalues.LongType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.IntegerType"
            id="attributevalues.IntegerType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.DoubleType"
            id="attributevalues.DoubleType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.JavaClassType"
            id="attributevalues.JavaClassType"/>                                                
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.MethodBindingType"
            id="attributevalues.MethodBindingType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ActionType"
            id="attributevalues.ActionType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ValueBindingType"
            id="attributevalues.ValueBindingType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ValueType"
            id="attributevalues.ValueType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.FacesConfigIdentifierType"
            id="attributevalues.FacesConfigIdentifierType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.FacesConfigValidatorIDType"
            id="attributevalues.FacesConfigValidatorIDType"/>           
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.FacesConfigConverterIDType"
            id="attributevalues.FacesConfigConverterIDType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ComponentBindingType"
            id="attributevalues.ComponentBindingType"/>            
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ComponentIDType"
            id="attributevalues.ComponentIDType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.LengthType"
            id="attributevalues.LengthType"/>           
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ColorType"
            id="attributevalues.ColorType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ResourceBundleType"
            id="attributevalues.ResourceBundleType"/>         
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.LanguageCodeType"
            id="attributevalues.LanguageCodeType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.RelativePathType"
            id="attributevalues.RelativePathType"/>    
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.WebPathType"
            id="attributevalues.WebPathType"/>                                    
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.CurrencyCodeType"
            id="attributevalues.CurrencyCodeType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.LocaleType"
            id="attributevalues.LocaleType"/>                                         
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.TimeZoneType"
            id="attributevalues.TimeZoneType"/>
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.DateTimePatternType"
            id="attributevalues.DateTimePatternType"/>  
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.NumberPatternType"
            id="attributevalues.NumberPatternType"/>                 
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ScriptType"
            id="attributevalues.ScriptType"/>  
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.CharacterType"
            id="attributevalues.CharacterType"/>        
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.LinkType"
            id="attributevalues.LinkType"/> 
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.ContentType"
            id="attributevalues.ContentType"/>                  
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.URIType"
            id="attributevalues.URIType"/>  
     <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.CSSClassType"
            id="attributevalues.CSSClassType"/> 
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.CSSIdType"
            id="attributevalues.CSSIdType"/>    
      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.CSSStyleType"
            id="attributevalues.CSSStyleType"/>                                
   </extension>
   
   <extension
         point="org.eclipse.jst.jsf.core.MetaDataEnabledFeatures">       
      <MetaDataEnabledFeature
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.FacesConfigValidatorIDFeatures"
            typeid="org.eclipse.jst.jsf.core.attributevalues.FacesConfigValidatorIDType"/>
     <MetaDataEnabledFeature
            class="org.eclipse.jst.jsf.taglibprocessing.attributevalues.FacesConfigConverterIDFeatures"
            typeid="org.eclipse.jst.jsf.core.attributevalues.FacesConfigConverterIDType"/>            
   </extension>

   <extension
       point="org.eclipse.jst.jsf.common.symbolSourceProvider">
    <symbolSourceId
          factory="org.eclipse.jst.jsf.designtime.internal.symbols.ResourceBundleSymbolSourceProvider">
   </symbolSourceId>
  </extension>
   <extension
         point="org.eclipse.jst.jsf.common.domainSourceModelTypes">
      <domainSourceModelTypes
            domainId="TagLibraryDomain"
            domainSourceModelTypeId="TaglibContentModelHandler"
            locator="org.eclipse.jst.jsf.core.metadata.internal.TaglibMetaDataLocator"
            ordinal="5">
      </domainSourceModelTypes>
   </extension> 
   
  <extension
       point="org.eclipse.jst.jsf.common.domainSourceModelTypeTranslators">
    <domainSourceModelTypeTranslator
          domainSourceModelTypeId="TaglibContentModelHandler"
          translatorClass="org.eclipse.jst.jsf.core.metadata.internal.HTMLContentModelMetaDataTranslator">
    </domainSourceModelTypeTranslator>
    <domainSourceModelTypeTranslator
          domainSourceModelTypeId="TaglibContentModelHandler"
          translatorClass="org.eclipse.jst.jsf.core.metadata.internal.JSPContentModelMetaDataTranslator">
    </domainSourceModelTypeTranslator>
    <domainSourceModelTypeTranslator
          domainSourceModelTypeId="TaglibContentModelHandler"
          translatorClass="org.eclipse.jst.jsf.core.metadata.internal.TaglibMetaDataTLDTranslator">
    </domainSourceModelTypeTranslator>      
 </extension>

  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.eclipse.jst.jsf.core.internal.JSFLibrariesContainerInitializer"
      id="org.eclipse.jst.jsf.core.internal.jsflibrarycontainer"/>
  </extension>
  <extension
        point="org.eclipse.jst.jsf.core.tagregistry">
     <tagRegistry
           class="org.eclipse.jst.jsf.designtime.internal.view.model.jsp.registry.TLDRegistryManager$MyRegistryFactory"
           description="%JSP_TAG_REGISTRY_DESCRIPTION"
           id="default.jsp">
        <content-type
              contentTypeId="org.eclipse.jst.jsp.core.jspsource">
        </content-type>
        <content-type
              contentTypeId="org.eclipse.jst.jsp.core.jspfragmentsource">
        </content-type>
     </tagRegistry>
  </extension>
  <extension
        point="org.eclipse.jst.jsf.core.viewhandler">
     <viewhandler
           class="org.eclipse.jst.jsf.designtime.internal.view.DefaultDTViewHandler"
           id="org.eclipse.jst.jsf.designtime.view.jspviewhandler">
     </viewhandler>
  </extension>
  <extension
        point="org.eclipse.jst.jsf.common.contextSymbolFactory">
     <contextSymbolFactory
           factory="org.eclipse.jst.jsf.designtime.internal.symbols.StaticJavaTypeSymbolFactory"
           factoryId="org.eclipse.jst.jsf.core.staticJavaTypeSymbol">
     </contextSymbolFactory>
  </extension>
  <extension
        point="org.eclipse.jst.jsf.common.contextSymbolFactory">
     <contextSymbolFactory
           factory="org.eclipse.jst.jsf.designtime.internal.symbols.ValueExpressionSymbolFactory"
           factoryId="org.eclipse.jst.jsf.core.valueExpressionSymbolFactory">
     </contextSymbolFactory>
  </extension>
  <extension
        point="org.eclipse.jst.jsf.core.customViewMapper">
     <customViewMapper
           class="org.eclipse.jst.jsf.designtime.internal.view.mapping.mappers.ValueHolderAttributeMapper"
           id="valueHolderAttributeMapper">
     </customViewMapper>
  </extension>
  
  <!--
    ******************************************
    * Library Provider Framework Integration *
    ******************************************
  -->
  
  <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
    <provider id="jsf-user-library-provider" extends="wtp-user-library-provider">
      <param name="validator" value="org.eclipse.jst.jsf.core.internal.project.facet.JSFLibraryValidator"/>
      <param name="validator.param.0" value="javax.faces.FactoryFinder"/>
      <enablement>
        <with variable="requestingProjectFacet">
          <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf" forcePluginActivation="true"/>
        </with>
      </enablement>
    </provider>
  </extension>
  
  <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
    <provider id="jsf-no-op-library-provider" extends="no-op-library-provider">
      <param name="message" value="%noOpLibraryProviderMessage"/>
      <param name="warning" value="%noOpLibraryProviderWarning"/>
      <enablement>
        <with variable="requestingProjectFacet">
          <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf" forcePluginActivation="true"/>
        </with>
      </enablement>
    </provider>
  </extension>

  <extension point="org.eclipse.jst.common.project.facet.core.libraryProviders">
    <provider id="legacy-jsf-library-provider" extends="legacy-library-provider" hidden="true">
      <action type="UNINSTALL">
        <operation class="org.eclipse.jst.jsf.core.internal.project.facet.LegacyJSFLibraryProviderUninstallOperation"/>
      </action>
    </provider>
  </extension>

  <extension point="org.eclipse.jst.common.project.facet.core.legacyLibraryProviderDetectors">
    <detector class="org.eclipse.jst.jsf.core.internal.project.facet.LegacyJSFLibraryProviderDetector"/>
  </extension>

  <extension
        point="org.eclipse.jst.common.project.facet.core.downloadableLibraries">
   
     <!-- JSF 2.3 Downloadable library provider -->
     <import-definitions url="https://eclipse.dev/webtools/jsf/jsf-library/jsf-2.3-downloadable-libraries.xml">
            <enablement>
                <with variable="requestingProjectFacet">
                    <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf:2.3" forcePluginActivation="true"/>
                </with>
            </enablement>
     </import-definitions>
   
    <!-- JSF 2.2 Downloadable library provider -->
     <import-definitions url="https://eclipse.dev/webtools/jsf/jsf-library/jsf-2.2-downloadable-libraries.xml">
            <enablement>
                <with variable="requestingProjectFacet">
                    <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf:2.2" forcePluginActivation="true"/>
                </with>
            </enablement>
     </import-definitions>
   
    <!-- JSF 2.1 Downloadable library provider -->
        <import-definitions url="https://eclipse.dev/webtools/jsf/jsf-library/jsf-2.1-downloadable-libraries.xml">
            <enablement>
                <with variable="requestingProjectFacet">
                    <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf:2.1" forcePluginActivation="true"/>
                </with>
            </enablement>
        </import-definitions>
   
    <!-- JSF 2.0 Downloadable library provider -->
        <import-definitions url="https://eclipse.dev/webtools/jsf/jsf-library/jsf-2.0-downloadable-libraries.xml">
            <enablement>
                <with variable="requestingProjectFacet">
                    <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf:2.0" forcePluginActivation="true"/>
                </with>
            </enablement>
        </import-definitions>
   
    <!-- JSF 1.2 Downloadable library provider -->
        <import-definitions url="https://eclipse.dev/webtools/jsf/jsf-library/jsf-1.2-downloadable-libraries.xml">
            <enablement>
                <with variable="requestingProjectFacet">
                    <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf:1.2" forcePluginActivation="true"/>
                </with>
            </enablement>
        </import-definitions>
   
    <!-- JSF 1.1 Downloadable library provider -->
        <import-definitions url="https://eclipse.dev/webtools/jsf/jsf-library/jsf-1.1-downloadable-libraries.xml">
            <enablement>
                <with variable="requestingProjectFacet">
                    <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.jsf:1.1" forcePluginActivation="true"/>
                </with>
            </enablement>
        </import-definitions>
    </extension>

   <!-- Facelet Content Types -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="xhtml"
            id="jsf.facelet"
            name="%Facelet.name"
            priority="high">
         <describer
               class="org.eclipse.jst.jsf.core.internal.contenttype.ContentDescriberForFacelet">
         </describer>
      </content-type>
      <content-type
            base-type="jsf.facelet"
            file-extensions="xhtml"
            id="jsf.facelet.composite"
            name="%FaceletComposite.name"
            priority="high">
         <describer
               class="org.eclipse.jst.jsf.core.internal.contenttype.ContentDescriberForFaceletCompositeComponent">
         </describer>
      </content-type>
   </extension>

</plugin>
