<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="jsfLibraries" name="jsfLibraries" schema="schema/jsfLibraries.exsd"/>
  <!-- JSF Project Facets -->
	<extension
       id="org.eclipse.jst.jsf.project.facet"
       name="%plugin.facet.extension.name"
       point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet id="jst.jsf">
      <label>JavaServer Faces</label>
      <description>%plugin.facet.description</description>
    </project-facet>

    <project-facet-version facet="jst.jsf" version="1.1">
      <action type="install" id="jst.jsf.v11.install">
        <delegate class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate"/>
        <config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider"/>
      </action>    
      <action
            id="jst.jsf.v11.uninstall"
            type="uninstall">
	 	<delegate
         class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate"/>
 	  </action>      
       <constraint>
        <and>
          <requires facet="jst.web" version="[2.3"/>
        </and>
      </constraint>
    </project-facet-version> 
 <!--
    <project-facet-version facet="jst.jsf" version="1.2">
	   	<action type="install" id="jst.jsf.v12.install">
			<delegate
	        class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDelegate"/>
			<config-factory class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetInstallDataModelProvider"/>
		</action>
		<action type="uninstall" id="jst.jsf.v12.uninstall">
		 	<delegate
	         class="org.eclipse.jst.jsf.core.internal.project.facet.JSFFacetUninstallDelegate"/>
	 	</action>    
     <constraint>
        <and>
          <requires facet="jst.web" version="[2.4"/>
        </and>
      </constraint>
    </project-facet-version>        
--> 	 	
	<preset id="preset.jst.jsf.v1_1">
	    <label>JavaServer Faces v1.1 Project</label>
	    <facet id="jst.java" version="1.4" />
	    <facet id="jst.web" version="2.3"/>
	    <facet id="jst.jsf" version="1.1" />
	</preset>    
 	
  </extension> 
  
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
		<runtime-component any="true"/>
<!--        	<facet id="jst.jsf" version="1.1,1.2"/> -->
		<facet id="jst.jsf" version="1.1"/>
    </supported>
  </extension>
    
  <extension
     name="JSF JSP File URL"
     point="org.eclipse.jst.j2ee.web.fileURL">
     <fileURL run="org.eclipse.jst.jsf.core.internal.launch.JSFFileURL"/>
  </extension>
  
</plugin>
