<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- page variables -->
	<extension point="org.eclipse.jst.pagedesigner.jsp.core.pageVar">
		<taglib uri="http://java.sun.com/jsf/html">

			<tag varTypeStringIsAttr="true" varNameIsAttr="true"
				varTypeMode="EXPRESSION_COLLECTION_ITEM" varTypeString="value"
				varName="var" tagName="dataTable" />
		</taglib>
		<taglib uri="http://java.sun.com/jsf/core">
			<tag varTypeStringIsAttr="true" varNameIsAttr="true"
				varTypeMode="BUNDLE" varTypeString="basename" varName="var"
				tagName="loadBundle" />
		</taglib>
  <taglib
        uri="http://xmlns.jcp.org/jsf/html">
     <tag
           tagName="dataTable"
           varName="var"
           varNameIsAttr="true"
           varTypeMode="EXPRESSION_COLLECTION_ITEM"
           varTypeString="value"
           varTypeStringIsAttr="true">
     </tag>
  </taglib>
  <taglib
        uri="http://xmlns.jcp.org/jsf/core">
     <tag
           tagName="loadBundle"
           varName="var"
           varNameIsAttr="true"
           varTypeMode="BUNDLE"
           varTypeString="basename"
           varTypeStringIsAttr="true">
     </tag>
  </taglib>
	</extension>
	<extension
		point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.jst.pagedesigner.tabPropertyContributor">
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFCoreConvertDateTimeGroup"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.convertDateTime">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFCoreConvertNumberGroup"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.convertNumber">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlActionListenerSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.commandButton.listener">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlActionListenerSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.commandLink.listener">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlDataTableColumnsSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.dataTable.columns">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlInputHiddenTypeSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.inputHidden.type">
			</propertySection>

			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlInputSecretTypeSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.inputSecret.type">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlInputOthersSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.inputText.others">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlInputTextTypeSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.inputText.type">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlInputOthersSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.inputText.others">
			</propertySection>
			<propertySection
				afterSection="section.general.inputTextarea"
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlInputTextareaTypeSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.inputTextarea.type">
			</propertySection>
			<propertySection
				afterSection="section.general.inputTextarea.type"
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlInputOthersSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.inputTextarea.others">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlOutputFormatParamsSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.outputFormat.params">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlOutputTextConverterSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.outputText.converter">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlSelectChoicesSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.selectManyCheckbox.choices">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlSelectChoicesSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.selectManyListbox.choices">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlSelectChoicesSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.selectManyMenu.choices">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlSelectChoicesSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.selectOneListbox.choices">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlSelectChoicesSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.selectOneMenu.choices">
			</propertySection>
			<propertySection
				class="org.eclipse.jst.pagedesigner.jsf.ui.sections.JSFHtmlSelectChoicesSection"
				tab="org.eclipse.jst.pagedesigner.tabQuickEdit"
				id="section.general.selectOneRadio.choices">
			</propertySection>
		</propertySections>
	</extension>

	<extension
		point="org.eclipse.jst.pagedesigner.pageDesignerExtension">
		<elementEditFactory
			class="org.eclipse.jst.pagedesigner.jsf.ui.elementedit.jsfhtml.JSFHTMLElementEditFactory" />
  <elementEditFactory
        class="org.eclipse.jst.pagedesigner.jsf.ui.elementedit.jsfhtml.JSFHTMLJCPElementEditFactory">
  </elementEditFactory>
		<elementEditFactory
			class="org.eclipse.jst.pagedesigner.jsf.ui.elementedit.jsfcore.JSFCoreElementEditFactory" />
  <elementEditFactory
        class="org.eclipse.jst.pagedesigner.jsf.ui.elementedit.jsfcore.JSFCoreJCPElementEditFactory">
  </elementEditFactory>
		<linkCreator
			class="org.eclipse.jst.pagedesigner.jsf.ui.actions.JSFCommandLinkCreator"
			linkIdentifier="JSF CommandLink" />
		<linkCreator
			class="org.eclipse.jst.pagedesigner.jsf.ui.actions.JSFOutputLinkCreator"
			linkIdentifier="JSF OutputLink" />
		<tagTransformOperation
			class="org.eclipse.jst.pagedesigner.jsf.ui.converter.operations.jsf.ColumnOperation"
			id="ColumnOperation">
		</tagTransformOperation>
		<tagTransformOperation
			class="org.eclipse.jst.pagedesigner.jsf.ui.converter.operations.jsf.DataTableOperation"
			id="DataTableOperation">
		</tagTransformOperation>
		<tagTransformOperation
			class="org.eclipse.jst.pagedesigner.jsf.ui.converter.operations.jsf.PanelGridOperation"
			id="PanelGridOperation">
		</tagTransformOperation>
		<tagTransformOperation
			class="org.eclipse.jst.pagedesigner.jsf.ui.converter.operations.jsf.SelectManyCheckboxOperation"
			id="SelectManyCheckboxOperation">
		</tagTransformOperation>
		<tagTransformOperation
			class="org.eclipse.jst.pagedesigner.jsf.ui.converter.operations.jsf.SelectOneRadioOperation"
			id="SelectOneRadioOperation">
		</tagTransformOperation>
		<tagTransformOperation
			class="org.eclipse.jst.pagedesigner.jsf.ui.converter.operations.jsf.LoadBundleOperation"
			id="LoadBundleOperation">
		</tagTransformOperation>
	</extension>

	<extension
		point="org.eclipse.jst.pagedesigner.popupMenuContributor">
		<menuItemContributor
			class="org.eclipse.jst.pagedesigner.jsf.ui.actions.PageFlowContributor"
			URI="http://java.sun.com/jsf/core" />
	</extension>
</plugin>
