<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.jst.jsf.ui.JSFRootPage"
           class="org.eclipse.jst.jsf.facesconfig.ui.preference.GEMPreferences"
           id="org.eclipse.jst.jsf.facesconfig.ui.preference.GEMPreferences"
           name="%preferencepage.jsffacesconfigui.name"/>
  </extension>
<extension point="org.eclipse.ui.editors">
		
		<editor
        class="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigEditor"
        contributorClass="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigActionBarContributor"
        default="false"
        extensions="xml"
        icon="icons/facesconfig/FacesConfig_Plugin.gif"
        id="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigEditor"
        name="%facesConfigEditor">
			<contentTypeBinding
				contentTypeId="org.eclipse.jst.jsf.facesconfig.facesConfigFile" />
		</editor>
	</extension>
	
 	<!-- ********** Introduction Page of PageFlow editor************** -->
	<extension id="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigEditor"
		name="%pageflow.editor.intro.name"
		point="org.eclipse.jst.jsf.common.ui.introductionPage">
		<introductionpage name="%pageflow.editor.intro.name"
			description="%pageflow.editor.intro.description">
			<introductionelement icon="icons/FacesConfig_Introduction.gif"
				heading="%pageflow.editor.intro.section.heading"
				text="%pageflow.editor.intro.section.description"/>
			<introductionelement
				actionparameters="org.eclipse.jst.jsf.facesconfig.ui.pageflow.PageflowEditor"
				icon="icons/FacesConfig_GotoEditor.gif"
				hyperlinkaction="org.eclipse.jst.jsf.common.ui.internal.actions.OpenPageAction"
				text="%pageflow.editor.intro.start.text"
				hyperlink="%pageflow.editor.intro.start.link"/>
			<introductionelement
				actionparameters="FacesConfigEditor.CheatSheet"
				icon="icons/FacesConfig_Tutorial.gif"
				hyperlinkaction="org.eclipse.jst.jsf.common.ui.internal.actions.LoadCheatSheetAction"
				text="%pageflow.editor.intro.cheatsheets.text"
				hyperlink="%pageflow.editor.intro.cheatsheets.link"/>
			<introductionelement actionparameters="org.eclipse.jst.jsf.facesconfig.ui.use_facesconfig_editor"
				icon="icons/overview_obj.gif"
				hyperlinkaction="org.eclipse.jst.jsf.common.ui.internal.actions.LoadHelpAction"
				text="%pageflow.editor.intro.help.text"
				hyperlink="%pageflow.editor.intro.help.link"/>
		</introductionpage>		
	</extension>
	<!-- ********** End Introduction Page ************** -->
		<!-- ************* properties view ************** -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs"> 
		<propertyTabs 
			contributorId="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigEditor">
			<propertyTab label="%propertyTab.attribute" category="attribute"
				id="org.eclipse.jst.jsf.facesconfig.ui.pageflow.properties.attribute"/>
			<propertyTab label="%propertyTab.general" category="general"
				id="org.eclipse.jst.jsf.facesconfig.ui.pageflow.properties.general"/>
		</propertyTabs>
	</extension>
		<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor
			sectionDescriptorProvider="org.eclipse.jst.jsf.facesconfig.ui.pageflow.properties.PageflowSectionDescriptorProvider"
			contributorId="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigEditor"
			labelProvider="org.eclipse.jst.jsf.facesconfig.ui.pageflow.properties.PageflowSectionLabelProvider">
			<propertyCategory category="attribute" />
			<propertyCategory category="general"/>
		</propertyContributor>
	</extension>
  <extension
        point="org.eclipse.ui.cheatsheets.cheatSheetContent">
     <cheatsheet
           composite="false"
           contentFile="cheatsheets/facesconfigeditor.xml"
           id="FacesConfigEditor.CheatSheet"
           name="FacesConfigEditor CheatSheet"/>
  </extension>
  <!--<extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigEditor"
           labelProvider="org.eclipse.jst.jsf.facesconfig.ui.pageflow.properties.PageflowSectionLabelProvider">
        <propertyCategory category="attribute"/>
        <propertyCategory category="general"/>
     </propertyContributor>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs contributorId="org.eclipse.jst.jsf.facesconfig.ui.FacesConfigEditor">
        <propertyTab
              category="attribute"
              id="org.eclipse.jst.jsf.facesconfig.ui.pageflow.properties.attribute"
              label="%propertyTab.attribute"/>
        <propertyTab
              category="general"
              id="org.eclipse.jst.jsf.facesconfig.ui.pageflow.properties.general"
              label="%propertyTab.general"/>
     </propertyTabs>
  </extension>-->
</plugin>
