<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension 
      point="org.eclipse.core.runtime.contentTypes"> 
      <content-type  
         id="facesConfigFile" 
         name="%facesconfig.name" 
         base-type="org.eclipse.core.runtime.xml" 
         file-extensions="xml"
         priority="high"> 
         <describer 
            class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber"> 
            <parameter name="element" value="faces-config" /> 
         </describer> 
      </content-type> 
   </extension>
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/webtools/jsf/schema/facesconfig.xsd" 
       class = "org.eclipse.jst.jsf.facesconfig.edit.provider.FacesConfigItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

</plugin>
