<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension 
      point="org.eclipse.core.runtime.contentTypes"> 
      <content-type  
         id="facesConfigFile" 
         name="%facesconfig.name" 
         base-type="org.eclipse.core.runtime.xml" 
         file-extensions="xml"
         priority="high"> 
         <describer 
            class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber"> 
            <parameter name="element" value="faces-config" /> 
         </describer> 
      </content-type> 
   </extension>

</plugin>
