<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="delos"/>
        <setEntry value="jspx_javaVariable_includes"/>
        <setEntry value="org.eclipse.jem.beaninfo"/>
        <setEntry value="org.eclipse.jem.beaninfo.vm"/>
        <setEntry value="org.eclipse.jem.beaninfo.vm.common"/>
        <setEntry value="org.eclipse.jem.tests"/>
        <setEntry value="org.eclipse.jpt.common.branding"/>
        <setEntry value="org.eclipse.jpt.common.core"/>
        <setEntry value="org.eclipse.jpt.common.core.tests"/>
        <setEntry value="org.eclipse.jpt.common.eclipselink.branding"/>
        <setEntry value="org.eclipse.jpt.common.eclipselink.core"/>
        <setEntry value="org.eclipse.jpt.common.ui"/>
        <setEntry value="org.eclipse.jpt.common.ui.tests"/>
        <setEntry value="org.eclipse.jpt.common.utility"/>
        <setEntry value="org.eclipse.jpt.common.utility.tests"/>
        <setEntry value="org.eclipse.jpt.dbws.eclipselink.branding"/>
        <setEntry value="org.eclipse.jpt.dbws.eclipselink.core.gen"/>
        <setEntry value="org.eclipse.jpt.dbws.eclipselink.ui"/>
        <setEntry value="org.eclipse.jpt.doc.isv"/>
        <setEntry value="org.eclipse.jpt.doc.user"/>
        <setEntry value="org.eclipse.jpt.jaxb.branding"/>
        <setEntry value="org.eclipse.jpt.jaxb.core"/>
        <setEntry value="org.eclipse.jpt.jaxb.core.schemagen"/>
        <setEntry value="org.eclipse.jpt.jaxb.core.tests"/>
        <setEntry value="org.eclipse.jpt.jaxb.eclipselink.branding"/>
        <setEntry value="org.eclipse.jpt.jaxb.eclipselink.core"/>
        <setEntry value="org.eclipse.jpt.jaxb.eclipselink.core.schemagen"/>
        <setEntry value="org.eclipse.jpt.jaxb.eclipselink.core.tests"/>
        <setEntry value="org.eclipse.jpt.jaxb.eclipselink.ui"/>
        <setEntry value="org.eclipse.jpt.jaxb.ui"/>
        <setEntry value="org.eclipse.jpt.jpa.annotate"/>
        <setEntry value="org.eclipse.jpt.jpa.branding"/>
        <setEntry value="org.eclipse.jpt.jpa.core"/>
        <setEntry value="org.eclipse.jpt.jpa.core.tests"/>
        <setEntry value="org.eclipse.jpt.jpa.core.tests.extension.resource"/>
        <setEntry value="org.eclipse.jpt.jpa.db"/>
        <setEntry value="org.eclipse.jpt.jpa.db.tests"/>
        <setEntry value="org.eclipse.jpt.jpa.db.ui"/>
        <setEntry value="org.eclipse.jpt.jpa.eclipselink.branding"/>
        <setEntry value="org.eclipse.jpt.jpa.eclipselink.core"/>
        <setEntry value="org.eclipse.jpt.jpa.eclipselink.core.ddlgen"/>
        <setEntry value="org.eclipse.jpt.jpa.eclipselink.core.tests"/>
        <setEntry value="org.eclipse.jpt.jpa.eclipselink.ui"/>
        <setEntry value="org.eclipse.jpt.jpa.gen"/>
        <setEntry value="org.eclipse.jpt.jpa.gen.tests"/>
        <setEntry value="org.eclipse.jpt.jpa.ui"/>
        <setEntry value="org.eclipse.jpt.jpa.ui.tests"/>
        <setEntry value="org.eclipse.jpt.jpadiagrameditor.branding"/>
        <setEntry value="org.eclipse.jpt.jpadiagrameditor.doc.user"/>
        <setEntry value="org.eclipse.jpt.jpadiagrameditor.swtbot.tests"/>
        <setEntry value="org.eclipse.jpt.jpadiagrameditor.ui"/>
        <setEntry value="org.eclipse.jpt.jpadiagrameditor.ui.tests"/>
        <setEntry value="org.eclipse.jsf.branding"/>
        <setEntry value="org.eclipse.json"/>
        <setEntry value="org.eclipse.jst.common.annotations.ui"/>
        <setEntry value="org.eclipse.jst.common.fproj.enablement.jdt.sdk"/>
        <setEntry value="org.eclipse.jst.common.project.facet.ui"/>
        <setEntry value="org.eclipse.jst.common.ui"/>
        <setEntry value="org.eclipse.jst.ejb.doc.user"/>
        <setEntry value="org.eclipse.jst.ejb.ui"/>
        <setEntry value="org.eclipse.jst.ejb.ui.infopop"/>
        <setEntry value="org.eclipse.jst.ejb.ui.tests"/>
        <setEntry value="org.eclipse.jst.j2ee.core.tests"/>
        <setEntry value="org.eclipse.jst.j2ee.doc.user"/>
        <setEntry value="org.eclipse.jst.j2ee.ejb"/>
        <setEntry value="org.eclipse.jst.j2ee.ejb.annotation.model"/>
        <setEntry value="org.eclipse.jst.j2ee.ejb.annotations.emitter"/>
        <setEntry value="org.eclipse.jst.j2ee.ejb.annotations.ui"/>
        <setEntry value="org.eclipse.jst.j2ee.ejb.annotations.xdoclet"/>
        <setEntry value="org.eclipse.jst.j2ee.infopop"/>
        <setEntry value="org.eclipse.jst.j2ee.jca.ui"/>
        <setEntry value="org.eclipse.jst.j2ee.navigator.ui"/>
        <setEntry value="org.eclipse.jst.j2ee.tests"/>
        <setEntry value="org.eclipse.jst.j2ee.ui"/>
        <setEntry value="org.eclipse.jst.j2ee.webservice"/>
        <setEntry value="org.eclipse.jst.j2ee.webservice.ui"/>
        <setEntry value="org.eclipse.jst.j2ee.xdoclet.runtime"/>
        <setEntry value="org.eclipse.jst.jee.ejb"/>
        <setEntry value="org.eclipse.jst.jee.tests"/>
        <setEntry value="org.eclipse.jst.jee.ui"/>
        <setEntry value="org.eclipse.jst.jee.web"/>
        <setEntry value="org.eclipse.jst.jsf.apache.trinidad.tagsupport"/>
        <setEntry value="org.eclipse.jst.jsf.common.runtime.tests"/>
        <setEntry value="org.eclipse.jst.jsf.common.ui"/>
        <setEntry value="org.eclipse.jst.jsf.contentassist.tests"/>
        <setEntry value="org.eclipse.jst.jsf.designtime.tests"/>
        <setEntry value="org.eclipse.jst.jsf.doc.dev"/>
        <setEntry value="org.eclipse.jst.jsf.doc.user"/>
        <setEntry value="org.eclipse.jst.jsf.facelet.core"/>
        <setEntry value="org.eclipse.jst.jsf.facelet.ui"/>
        <setEntry value="org.eclipse.jst.jsf.facesconfig.tests"/>
        <setEntry value="org.eclipse.jst.jsf.facesconfig.ui"/>
        <setEntry value="org.eclipse.jst.jsf.facesconfig.ui.test"/>
        <setEntry value="org.eclipse.jst.jsf.metadata.tests"/>
        <setEntry value="org.eclipse.jst.jsf.metadataprocessingtests2"/>
        <setEntry value="org.eclipse.jst.jsf.standard.tagsupport"/>
        <setEntry value="org.eclipse.jst.jsf.ui"/>
        <setEntry value="org.eclipse.jst.jsf.ui.tests"/>
        <setEntry value="org.eclipse.jst.jsf.validation.el.tests"/>
        <setEntry value="org.eclipse.jst.jsp.core.tests"/>
        <setEntry value="org.eclipse.jst.jsp.tests.encoding"/>
        <setEntry value="org.eclipse.jst.jsp.ui"/>
        <setEntry value="org.eclipse.jst.jsp.ui.infopop"/>
        <setEntry value="org.eclipse.jst.jsp.ui.tests"/>
        <setEntry value="org.eclipse.jst.pagedesigner"/>
        <setEntry value="org.eclipse.jst.pagedesigner.jsf.ui"/>
        <setEntry value="org.eclipse.jst.pagedesigner.jsp.core"/>
        <setEntry value="org.eclipse.jst.pagedesigner.tests"/>
        <setEntry value="org.eclipse.jst.server.core.tests"/>
        <setEntry value="org.eclipse.jst.server.generic.core"/>
        <setEntry value="org.eclipse.jst.server.generic.jboss"/>
        <setEntry value="org.eclipse.jst.server.generic.jonas"/>
        <setEntry value="org.eclipse.jst.server.generic.oc4j"/>
        <setEntry value="org.eclipse.jst.server.generic.pde"/>
        <setEntry value="org.eclipse.jst.server.generic.tests"/>
        <setEntry value="org.eclipse.jst.server.generic.ui"/>
        <setEntry value="org.eclipse.jst.server.geronimo.core.tests"/>
        <setEntry value="org.eclipse.jst.server.geronimo.ui.tests"/>
        <setEntry value="org.eclipse.jst.server.preview.adapter"/>
        <setEntry value="org.eclipse.jst.server.tomcat.core"/>
        <setEntry value="org.eclipse.jst.server.tomcat.core.tests"/>
        <setEntry value="org.eclipse.jst.server.tomcat.tests.performance"/>
        <setEntry value="org.eclipse.jst.server.tomcat.ui"/>
        <setEntry value="org.eclipse.jst.server.tomcat.ui.tests"/>
        <setEntry value="org.eclipse.jst.server.ui"/>
        <setEntry value="org.eclipse.jst.server.ui.doc.user"/>
        <setEntry value="org.eclipse.jst.server.ui.infopop"/>
        <setEntry value="org.eclipse.jst.server.ui.tests"/>
        <setEntry value="org.eclipse.jst.server.websphere.core"/>
        <setEntry value="org.eclipse.jst.servlet.tests"/>
        <setEntry value="org.eclipse.jst.servlet.ui"/>
        <setEntry value="org.eclipse.jst.servlet.ui.infopop"/>
        <setEntry value="org.eclipse.jst.standard.schemas"/>
        <setEntry value="org.eclipse.jst.validation.sample"/>
        <setEntry value="org.eclipse.jst.validation.test"/>
        <setEntry value="org.eclipse.jst.ws"/>
        <setEntry value="org.eclipse.jst.ws.annotations.core"/>
        <setEntry value="org.eclipse.jst.ws.axis.consumption.core"/>
        <setEntry value="org.eclipse.jst.ws.axis.consumption.core.tests"/>
        <setEntry value="org.eclipse.jst.ws.axis.consumption.ui"/>
        <setEntry value="org.eclipse.jst.ws.axis.creation.ui"/>
        <setEntry value="org.eclipse.jst.ws.axis.infopop"/>
        <setEntry value="org.eclipse.jst.ws.axis.ui.doc.user"/>
        <setEntry value="org.eclipse.jst.ws.axis2.consumption.core"/>
        <setEntry value="org.eclipse.jst.ws.axis2.consumption.ui"/>
        <setEntry value="org.eclipse.jst.ws.axis2.core"/>
        <setEntry value="org.eclipse.jst.ws.axis2.creation.core"/>
        <setEntry value="org.eclipse.jst.ws.axis2.creation.ui"/>
        <setEntry value="org.eclipse.jst.ws.axis2.tests.performance"/>
        <setEntry value="org.eclipse.jst.ws.axis2.ui"/>
        <setEntry value="org.eclipse.jst.ws.axis2.ui.doc.user"/>
        <setEntry value="org.eclipse.jst.ws.consumption"/>
        <setEntry value="org.eclipse.jst.ws.consumption.infopop"/>
        <setEntry value="org.eclipse.jst.ws.consumption.ui"/>
        <setEntry value="org.eclipse.jst.ws.consumption.ui.doc.user"/>
        <setEntry value="org.eclipse.jst.ws.creation.ejb.ui"/>
        <setEntry value="org.eclipse.jst.ws.creation.ui"/>
        <setEntry value="org.eclipse.jst.ws.cxf.consumption.core"/>
        <setEntry value="org.eclipse.jst.ws.cxf.consumption.ui"/>
        <setEntry value="org.eclipse.jst.ws.cxf.core"/>
        <setEntry value="org.eclipse.jst.ws.cxf.creation.core"/>
        <setEntry value="org.eclipse.jst.ws.cxf.creation.ui"/>
        <setEntry value="org.eclipse.jst.ws.cxf.doc.user"/>
        <setEntry value="org.eclipse.jst.ws.cxf.tests"/>
        <setEntry value="org.eclipse.jst.ws.cxf.ui"/>
        <setEntry value="org.eclipse.jst.ws.doc.user"/>
        <setEntry value="org.eclipse.jst.ws.infopop"/>
        <setEntry value="org.eclipse.jst.ws.jaxb.core"/>
        <setEntry value="org.eclipse.jst.ws.jaxb.core.tests"/>
        <setEntry value="org.eclipse.jst.ws.jaxrs.core"/>
        <setEntry value="org.eclipse.jst.ws.jaxrs.ui"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.core"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.core.tests"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.doc.isv"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.doc.user"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.doc.isv"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.integration"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.integration.tests"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.runtime"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.runtime.tests"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.ui"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.ui.tests"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.testutils"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.ui"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.utils"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.utils.tests"/>
        <setEntry value="org.eclipse.jst.ws.tests"/>
        <setEntry value="org.eclipse.jst.ws.tests.performance"/>
        <setEntry value="org.eclipse.jst.ws.uddiregistry"/>
        <setEntry value="org.eclipse.jst.ws.ui"/>
        <setEntry value="org.eclipse.server.doc.isv"/>
        <setEntry value="org.eclipse.servertools.doc.isv"/>
        <setEntry value="org.eclipse.wst.command.env"/>
        <setEntry value="org.eclipse.wst.command.env.core"/>
        <setEntry value="org.eclipse.wst.command.env.doc.user"/>
        <setEntry value="org.eclipse.wst.command.env.infopop"/>
        <setEntry value="org.eclipse.wst.command.env.ui"/>
        <setEntry value="org.eclipse.wst.common.api.doc"/>
        <setEntry value="org.eclipse.wst.common.fproj.sdk"/>
        <setEntry value="org.eclipse.wst.common.infopop"/>
        <setEntry value="org.eclipse.wst.common.modulecore.ui"/>
        <setEntry value="org.eclipse.wst.common.project.facet.core.tests"/>
        <setEntry value="org.eclipse.wst.common.project.facet.doc.api"/>
        <setEntry value="org.eclipse.wst.common.project.facet.ui"/>
        <setEntry value="org.eclipse.wst.common.project.facet.ui.tests"/>
        <setEntry value="org.eclipse.wst.common.snippets"/>
        <setEntry value="org.eclipse.wst.common.snippets.tests"/>
        <setEntry value="org.eclipse.wst.common.tests"/>
        <setEntry value="org.eclipse.wst.common.tests.collector"/>
        <setEntry value="org.eclipse.wst.common.tests.ui"/>
        <setEntry value="org.eclipse.wst.common.tests.validation"/>
        <setEntry value="org.eclipse.wst.common.tests.validation.guard"/>
        <setEntry value="org.eclipse.wst.common.ui"/>
        <setEntry value="org.eclipse.wst.common.uriresolver.tests"/>
        <setEntry value="org.eclipse.wst.css.core.tests"/>
        <setEntry value="org.eclipse.wst.css.tests.encoding"/>
        <setEntry value="org.eclipse.wst.css.ui"/>
        <setEntry value="org.eclipse.wst.css.ui.tests"/>
        <setEntry value="org.eclipse.wst.doc.user"/>
        <setEntry value="org.eclipse.wst.dtd.core"/>
        <setEntry value="org.eclipse.wst.dtd.core.tests"/>
        <setEntry value="org.eclipse.wst.dtd.ui"/>
        <setEntry value="org.eclipse.wst.dtd.ui.infopop"/>
        <setEntry value="org.eclipse.wst.dtd.ui.tests"/>
        <setEntry value="org.eclipse.wst.dtdeditor.doc.user"/>
        <setEntry value="org.eclipse.wst.html.core.tests"/>
        <setEntry value="org.eclipse.wst.html.tests.encoding"/>
        <setEntry value="org.eclipse.wst.html.ui"/>
        <setEntry value="org.eclipse.wst.html.ui.infopop"/>
        <setEntry value="org.eclipse.wst.html.ui.tests"/>
        <setEntry value="org.eclipse.wst.internet.cache.tests"/>
        <setEntry value="org.eclipse.wst.internet.monitor.core"/>
        <setEntry value="org.eclipse.wst.internet.monitor.core.tests"/>
        <setEntry value="org.eclipse.wst.internet.monitor.ui"/>
        <setEntry value="org.eclipse.wst.internet.monitor.ui.tests"/>
        <setEntry value="org.eclipse.wst.jsdt.web.core"/>
        <setEntry value="org.eclipse.wst.jsdt.web.core.tests"/>
        <setEntry value="org.eclipse.wst.jsdt.web.support.jsp"/>
        <setEntry value="org.eclipse.wst.jsdt.web.ui"/>
        <setEntry value="org.eclipse.wst.jsdt.web.ui.tests"/>
        <setEntry value="org.eclipse.wst.json.bower.core"/>
        <setEntry value="org.eclipse.wst.json.bower.ui"/>
        <setEntry value="org.eclipse.wst.json.core"/>
        <setEntry value="org.eclipse.wst.json.core.tests"/>
        <setEntry value="org.eclipse.wst.json.eslint.core"/>
        <setEntry value="org.eclipse.wst.json.eslint.ui"/>
        <setEntry value="org.eclipse.wst.json.jshint.core"/>
        <setEntry value="org.eclipse.wst.json.jshint.ui"/>
        <setEntry value="org.eclipse.wst.json.npm.core"/>
        <setEntry value="org.eclipse.wst.json.npm.ui"/>
        <setEntry value="org.eclipse.wst.json.schemaprocessor"/>
        <setEntry value="org.eclipse.wst.json.ui"/>
        <setEntry value="org.eclipse.wst.server.core.tests"/>
        <setEntry value="org.eclipse.wst.server.http.core"/>
        <setEntry value="org.eclipse.wst.server.http.core.tests"/>
        <setEntry value="org.eclipse.wst.server.http.ui"/>
        <setEntry value="org.eclipse.wst.server.preview"/>
        <setEntry value="org.eclipse.wst.server.preview.adapter"/>
        <setEntry value="org.eclipse.wst.server.tests.performance"/>
        <setEntry value="org.eclipse.wst.server.ui"/>
        <setEntry value="org.eclipse.wst.server.ui.doc.user"/>
        <setEntry value="org.eclipse.wst.server.ui.infopop"/>
        <setEntry value="org.eclipse.wst.server.ui.tests"/>
        <setEntry value="org.eclipse.wst.server.util.tests"/>
        <setEntry value="org.eclipse.wst.sse.core.tests"/>
        <setEntry value="org.eclipse.wst.sse.doc.user"/>
        <setEntry value="org.eclipse.wst.sse.ui.infopop"/>
        <setEntry value="org.eclipse.wst.sse.ui.tests"/>
        <setEntry value="org.eclipse.wst.sse.unittests"/>
        <setEntry value="org.eclipse.wst.standard.schemas"/>
        <setEntry value="org.eclipse.wst.validation.doc.isv"/>
        <setEntry value="org.eclipse.wst.validation.infopop"/>
        <setEntry value="org.eclipse.wst.validation.ui"/>
        <setEntry value="org.eclipse.wst.web.ui"/>
        <setEntry value="org.eclipse.wst.web.ui.infopop"/>
        <setEntry value="org.eclipse.wst.webtools.doc.user"/>
        <setEntry value="org.eclipse.wst.ws"/>
        <setEntry value="org.eclipse.wst.ws.api.doc"/>
        <setEntry value="org.eclipse.wst.ws.explorer"/>
        <setEntry value="org.eclipse.wst.ws.infopop"/>
        <setEntry value="org.eclipse.wst.ws.parser"/>
        <setEntry value="org.eclipse.wst.ws.service.policy"/>
        <setEntry value="org.eclipse.wst.ws.service.policy.test"/>
        <setEntry value="org.eclipse.wst.ws.service.policy.ui"/>
        <setEntry value="org.eclipse.wst.ws.tests"/>
        <setEntry value="org.eclipse.wst.ws.ui"/>
        <setEntry value="org.eclipse.wst.wsdl"/>
        <setEntry value="org.eclipse.wst.wsdl.doc.isv"/>
        <setEntry value="org.eclipse.wst.wsdl.tests"/>
        <setEntry value="org.eclipse.wst.wsdl.tests.performance"/>
        <setEntry value="org.eclipse.wst.wsdl.tests.ui"/>
        <setEntry value="org.eclipse.wst.wsdl.ui"/>
        <setEntry value="org.eclipse.wst.wsdl.ui.doc.user"/>
        <setEntry value="org.eclipse.wst.wsdl.ui.tests"/>
        <setEntry value="org.eclipse.wst.wsdl.validation"/>
        <setEntry value="org.eclipse.wst.wsdl.validation.tests"/>
        <setEntry value="org.eclipse.wst.wsi"/>
        <setEntry value="org.eclipse.wst.wsi.tests"/>
        <setEntry value="org.eclipse.wst.wsi.ui"/>
        <setEntry value="org.eclipse.wst.wsi.ui.doc.user"/>
        <setEntry value="org.eclipse.wst.xml.catalog.tests"/>
        <setEntry value="org.eclipse.wst.xml.core.tests"/>
        <setEntry value="org.eclipse.wst.xml.tests.encoding"/>
        <setEntry value="org.eclipse.wst.xml.ui"/>
        <setEntry value="org.eclipse.wst.xml.ui.infopop"/>
        <setEntry value="org.eclipse.wst.xml.ui.tests"/>
        <setEntry value="org.eclipse.wst.xml.validation.tests"/>
        <setEntry value="org.eclipse.wst.xml.xpath.core"/>
        <setEntry value="org.eclipse.wst.xml.xpath.core.tests"/>
        <setEntry value="org.eclipse.wst.xml.xpath.ui"/>
        <setEntry value="org.eclipse.wst.xml.xpath.ui.tests"/>
        <setEntry value="org.eclipse.wst.xml.xpath2"/>
        <setEntry value="org.eclipse.wst.xml.xpath2.processor"/>
        <setEntry value="org.eclipse.wst.xml.xpath2.processor.doc.user"/>
        <setEntry value="org.eclipse.wst.xml.xpath2.processor.sdk.doc"/>
        <setEntry value="org.eclipse.wst.xml.xpath2.processor.tests"/>
        <setEntry value="org.eclipse.wst.xml.xpath2.wtptypes"/>
        <setEntry value="org.eclipse.wst.xml.xpath2.wtptypes.tests"/>
        <setEntry value="org.eclipse.wst.xmleditor.doc.user"/>
        <setEntry value="org.eclipse.wst.xsd.core"/>
        <setEntry value="org.eclipse.wst.xsd.core.tests"/>
        <setEntry value="org.eclipse.wst.xsd.ui"/>
        <setEntry value="org.eclipse.wst.xsd.ui.tests"/>
        <setEntry value="org.eclipse.wst.xsd.validation.tests"/>
        <setEntry value="org.eclipse.wst.xsdeditor.doc.user"/>
        <setEntry value="org.eclipse.wst.xsl"/>
        <setEntry value="org.eclipse.wst.xsl.core.tests"/>
        <setEntry value="org.eclipse.wst.xsl.debug.ui"/>
        <setEntry value="org.eclipse.wst.xsl.doc"/>
        <setEntry value="org.eclipse.wst.xsl.exslt.core"/>
        <setEntry value="org.eclipse.wst.xsl.exslt.core.tests"/>
        <setEntry value="org.eclipse.wst.xsl.exslt.ui"/>
        <setEntry value="org.eclipse.wst.xsl.exslt.ui.tests"/>
        <setEntry value="org.eclipse.wst.xsl.jaxp.debug"/>
        <setEntry value="org.eclipse.wst.xsl.jaxp.debug.test"/>
        <setEntry value="org.eclipse.wst.xsl.jaxp.debug.ui"/>
        <setEntry value="org.eclipse.wst.xsl.jaxp.launching"/>
        <setEntry value="org.eclipse.wst.xsl.launching"/>
        <setEntry value="org.eclipse.wst.xsl.launching.tests"/>
        <setEntry value="org.eclipse.wst.xsl.saxon"/>
        <setEntry value="org.eclipse.wst.xsl.sdk.documentation"/>
        <setEntry value="org.eclipse.wst.xsl.tests"/>
        <setEntry value="org.eclipse.wst.xsl.ui"/>
        <setEntry value="org.eclipse.wst.xsl.ui.tests"/>
        <setEntry value="org.eclipse.wst.xsl.xalan"/>
        <setEntry value="org.eclipse.wtp.javascript.capabilities"/>
        <setEntry value="org.eclipse.wtp.jee.capabilities"/>
        <setEntry value="org.eclipse.wtp.web.capabilities"/>
        <setEntry value="org.eclipse.wtp.xml.capabilities"/>
        <setEntry value="org.jmock"/>
        <setEntry value="org.w3c.xqts.testsuite"/>
        <setEntry value="testTEI"/>
        <setEntry value="unloadable"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/org.eclipse.jst.jsf.context.symbol.tests/src/org/eclipse/jst/jsf/context/symbol/tests/AllTests.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.jst.jsf.context.symbol.tests.AllTests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.jst.jsf.context.symbol.tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms40m -Xmx512m"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.sdk.ide"/>
    <booleanAttribute key="run_in_ui_thread" value="true"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcpg@default:default"/>
        <setEntry value="bcprov@default:default"/>
        <setEntry value="biz.aQute.bnd.util@default:default"/>
        <setEntry value="biz.aQute.bndlib@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.el.javax.el@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="jakarta.annotation-api@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.commons-io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.compare@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.linux@default:false"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.debug.ui@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.ide@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.progress@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.gtk@default:false"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.emf.codegen@default:default"/>
        <setEntry value="org.eclipse.emf.common.ui@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit.ui@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux@default:false"/>
        <setEntry value="org.eclipse.equinox.security.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.annotation*2.2.800.v20231029-1039@default:default"/>
        <setEntry value="org.eclipse.jdt.core.compiler.batch@default:default"/>
        <setEntry value="org.eclipse.jdt.core.manipulation@default:default"/>
        <setEntry value="org.eclipse.jdt.core@default:default"/>
        <setEntry value="org.eclipse.jdt.debug@default:default"/>
        <setEntry value="org.eclipse.jdt.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.launching@default:default"/>
        <setEntry value="org.eclipse.jdt.ui@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet-api@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring@default:default"/>
        <setEntry value="org.eclipse.nebula.cwt@default:default"/>
        <setEntry value="org.eclipse.nebula.widgets.cdatetime@default:default"/>
        <setEntry value="org.eclipse.orbit.xml-apis-ext@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.eclipse.pde.build@default:default"/>
        <setEntry value="org.eclipse.pde.core@default:default"/>
        <setEntry value="org.eclipse.pde.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.search.core@default:default"/>
        <setEntry value="org.eclipse.search@default:default"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.team.ui@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.tips.core@default:default"/>
        <setEntry value="org.eclipse.ui.console@default:default"/>
        <setEntry value="org.eclipse.ui.editors@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.genericeditor@default:default"/>
        <setEntry value="org.eclipse.ui.ide@default:default"/>
        <setEntry value="org.eclipse.ui.navigator.resources@default:default"/>
        <setEntry value="org.eclipse.ui.navigator@default:default"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed@default:default"/>
        <setEntry value="org.eclipse.ui.views@default:default"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.hamcrest@default:default"/>
        <setEntry value="org.jboss.tools.foundation.security.linux@default:false"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.mortbay.jasper.apache-jsp@default:default"/>
        <setEntry value="org.objectweb.asm*9.6.0@default:default"/>
        <setEntry value="org.objectweb.asm.commons@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.tree@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.repository@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.measurement@default:default"/>
        <setEntry value="org.osgi.util.position@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.osgi.util.xml@default:default"/>
        <setEntry value="org.sat4j.core@default:default"/>
        <setEntry value="org.sat4j.pb@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="slf4j.simple@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.jem.proxy@default:default"/>
        <setEntry value="org.eclipse.jem.util@default:default"/>
        <setEntry value="org.eclipse.jem.workbench@default:default"/>
        <setEntry value="org.eclipse.jem@default:default"/>
        <setEntry value="org.eclipse.jst.common.annotations.controller@default:default"/>
        <setEntry value="org.eclipse.jst.common.annotations.core@default:default"/>
        <setEntry value="org.eclipse.jst.common.frameworks@default:default"/>
        <setEntry value="org.eclipse.jst.common.project.facet.core@default:default"/>
        <setEntry value="org.eclipse.jst.j2ee.core.tests.performance"/>
        <setEntry value="org.eclipse.jst.j2ee.core@default:default"/>
        <setEntry value="org.eclipse.jst.j2ee.ejb.generation.tests"/>
        <setEntry value="org.eclipse.jst.j2ee.jca@default:default"/>
        <setEntry value="org.eclipse.jst.j2ee.tests.performance"/>
        <setEntry value="org.eclipse.jst.j2ee.web@default:default"/>
        <setEntry value="org.eclipse.jst.j2ee@default:default"/>
        <setEntry value="org.eclipse.jst.jee@default:default"/>
        <setEntry value="org.eclipse.jst.jsf.common.runtime@default:default"/>
        <setEntry value="org.eclipse.jst.jsf.common@default:default"/>
        <setEntry value="org.eclipse.jst.jsf.context.symbol.tests@default:default"/>
        <setEntry value="org.eclipse.jst.jsf.core.tests@default:default"/>
        <setEntry value="org.eclipse.jst.jsf.core@default:default"/>
        <setEntry value="org.eclipse.jst.jsf.facesconfig@default:default"/>
        <setEntry value="org.eclipse.jst.jsf.test.util@default:default"/>
        <setEntry value="org.eclipse.jst.jsp.core@default:default"/>
        <setEntry value="org.eclipse.jst.server.core@default:default"/>
        <setEntry value="org.eclipse.perfmsr.core"/>
        <setEntry value="org.eclipse.wst.common.core@default:default"/>
        <setEntry value="org.eclipse.wst.common.emf@default:default"/>
        <setEntry value="org.eclipse.wst.common.emfworkbench.integration@default:default"/>
        <setEntry value="org.eclipse.wst.common.environment@default:default"/>
        <setEntry value="org.eclipse.wst.common.frameworks.ui@default:default"/>
        <setEntry value="org.eclipse.wst.common.frameworks@default:default"/>
        <setEntry value="org.eclipse.wst.common.modulecore@default:default"/>
        <setEntry value="org.eclipse.wst.common.project.facet.core@default:default"/>
        <setEntry value="org.eclipse.wst.common.uriresolver@default:default"/>
        <setEntry value="org.eclipse.wst.css.core@default:default"/>
        <setEntry value="org.eclipse.wst.html.core@default:default"/>
        <setEntry value="org.eclipse.wst.internet.cache@default:default"/>
        <setEntry value="org.eclipse.wst.server.core@default:default"/>
        <setEntry value="org.eclipse.wst.server.discovery@default:default"/>
        <setEntry value="org.eclipse.wst.sse.core@default:default"/>
        <setEntry value="org.eclipse.wst.sse.ui@default:default"/>
        <setEntry value="org.eclipse.wst.validation@default:default"/>
        <setEntry value="org.eclipse.wst.web@default:default"/>
        <setEntry value="org.eclipse.wst.xml.core@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
