<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!-- JSF Project Facet --> 
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.wst.sse.ui.internal.provisional.preferences/org.eclipse.jst.jsf.ui.JSFRootPage"
           class="org.eclipse.jst.jsf.ui.internal.classpath.JSFLibrariesPreferencePage"
           id="org.eclipse.jst.jsf.ui.jsfLibraryPage"
           name="%preferencepage.jsflibraries.name"/>
     <page
           category="org.eclipse.wst.sse.ui.internal.provisional.preferences/org.eclipse.jst.jsf.ui.JSFRootPage"
           class="org.eclipse.jst.jsf.ui.internal.validation.JSFValidationPreferencePage"
           id="org.eclipse.jst.jsf.ui.JSFValidationPage"
           name="%preferencepage.jsfvalidation.name"/>
     <page
           category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
           class="org.eclipse.jst.jsf.ui.internal.preferences.EmptyRootPreferencePage"
           id="org.eclipse.jst.jsf.ui.JSFRootPage"
           name="%preferencepage.jsf.name">
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.eclipse.jst.jsf.ui.jsfcategory"
           name="%newwizard.jsf.category.name"/>
     <wizard
           canFinishEarly="false"
           category="org.eclipse.jst.jsf.ui.jsfcategory"
           class="org.eclipse.jst.jsf.ui.internal.classpath.JSFLibraryWizard"
           hasPages="true"
           icon="icons/obj16/library_obj.gif"
           id="org.eclipse.jst.jsf.ui.jsfLibraryWizard"
           name="%newwizard.jsflibrary.name"
           preferredPerspectives="org.eclipse.jst.j2ee.J2EEPerspective">
        <description>
           %newwizard.jsflibrary.description
        </description>
     </wizard>
  </extension>
  <extension 
        point="org.eclipse.wst.common.project.facet.ui.wizardPages">
     <wizard-pages action="jst.jsf.v11.install">
        <page class="org.eclipse.jst.jsf.ui.internal.project.facet.JSFFacetInstallPage"/>
     </wizard-pages>
     <wizard-pages action="jst.jsf.v12.install">
        <page class="org.eclipse.jst.jsf.ui.internal.project.facet.JSFFacetInstallPage"/>
     </wizard-pages>
  </extension>  
  
  <extension point="org.eclipse.wst.sse.ui.editorConfiguration"> 
	<sourceViewerConfiguration
            class="org.eclipse.jst.jsp.ui.StructuredTextViewerConfigurationJSP"
            target="org.eclipse.jst.jsp.core.jspsource"/>
                <provisionalConfiguration 
                        type="contentassistprocessor" 
                        class="org.eclipse.jst.jsf.ui.internal.contentassist.el.JSFELContentAssistProcessor" 
                        target="org.eclipse.jst.jsp.SCRIPT.JSP_EL2" /> 
				<provisionalConfiguration 
                        type="contentassistprocessor" 
                        class="org.eclipse.jst.jsf.ui.internal.contentassist.JSFContentAssistProcessor" 
                        target="org.eclipse.jst.jsp.JSP_DEFAULT,org.eclipse.jst.jsp.JSP_DIRECTIVE" />
    <documentationTextHover
          class="org.eclipse.jst.jsf.ui.internal.jspeditor.JSFELHover"
          target="org.eclipse.jst.jsp.SCRIPT.JSP_EL2">
    </documentationTextHover>
    </extension> 
    <extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.jst.jsf.validation.internal.JSPSemanticsValidator"
			id="org.eclipse.jst.jsf.validation.JSFAttributeValueValidator">
			<contentTypeIdentifier
				id="org.eclipse.jst.jsp.core.jspsource">
				<partitionType id="org.eclipse.jst.jsp.DEFAULT_JSP">
				</partitionType>
				<partitionType id="org.eclipse.jst.jsp.JSP_DIRECTIVE">
				</partitionType>
				<partitionType id="org.eclipse.jst.jsp.SCRIPT.JSP_EL2">
				</partitionType>
			</contentTypeIdentifier>
		</validator>
	</extension>
    <extension
          point="org.eclipse.jdt.ui.classpathContainerPage">
       <classpathContainerPage
             class="org.eclipse.jst.jsf.ui.internal.classpath.JSFLibraryContainerWizardPage"
             id="org.eclipse.jst.jsf.core.internal.jsflibrarycontainer"
             name="%classpathContainerPage.name.0">
       </classpathContainerPage>
    </extension>
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             class="org.eclipse.jst.jsf.ui.internal.jspeditor.ELHyperlinkDetector"
             id="org.eclipse.jst.jsf.ui.elhyperlinkdetector"
             name="%EL_Hyperlinkdetector_name"
             targetId="org.eclipse.jst.jsp.core.jspsource">
       </hyperlinkDetector>
    </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%jsf.ui.views.category.name"
            id="org.eclipse.jst.jsf.ui.view.category">
      </category>
      <view
            name="%jsf.ui.views.componentview.name"
            icon="icons/sample.gif"
            category="org.eclipse.jst.jsf.ui.view.category"
            class="org.eclipse.jst.jsf.ui.internal.component.ComponentTreeView"
            id="org.eclipse.jst.jsf.ui.component.ComponentTreeView">
      </view>
      <view
            name="%jsf.ui.views.jsftagregistry.name"
            icon="icons/sample.gif"
            category="org.eclipse.jst.jsf.ui.view.category"
            class="org.eclipse.jst.jsf.ui.internal.tagregistry.TagRegistryView"
            id="org.eclipse.jst.jsf.ui.tagregistry.TagRegistryView">
      </view>
   </extension>
</plugin>
