<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!-- JSF Project Facet --> 
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
           class="org.eclipse.jst.jsf.ui.internal.classpath.JSFLibrariesPreferencePage"
           id="org.eclipse.jst.jsf.ui.jsfLibraryPage"
           name="JSF Libraries"/>
     <page
           category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
           class="org.eclipse.jst.jsf.ui.internal.validation.JSFValidationPreferencePage"
           id="org.eclipse.jst.jsf.ui.JSFValidationPage"
           name="JSF Validation"/>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.eclipse.jst.jsf.ui.jsfcategory"
           name="JavaServer Faces"/>
     <wizard
           canFinishEarly="false"
           category="org.eclipse.jst.jsf.ui.jsfcategory"
           class="org.eclipse.jst.jsf.ui.internal.classpath.JSFLibraryWizard"
           hasPages="true"
           icon="icons/obj16/library_obj.gif"
           id="org.eclipse.jst.jsf.ui.jsfLibraryWizard"
           name="New JSF Library"
           preferredPerspectives="org.eclipse.jst.j2ee.J2EEPerspective"/>
  </extension>
  <extension 
  		point="org.eclipse.ui.propertyPages">
     <page
           adaptable="true"
           class="org.eclipse.jst.jsf.ui.internal.jsflibraryconfig.JSFLibraryPropertyPage"
           id="org.eclipse.jst.jsf.ui.properties.jsfLibraryPropertyPage"
           name="%jsf.library.reference"
           objectClass="org.eclipse.core.resources.IProject">
        <filter
              name="nature"
              value="org.eclipse.wst.common.project.facet.core.nature"/>
     </page>
  </extension>
  <extension 
        point="org.eclipse.wst.common.project.facet.ui.wizardPages">
     <wizard-pages action="jst.jsf.v11.install">
        <page class="org.eclipse.jst.jsf.ui.internal.project.facet.JSFFacetInstallPage"/>
     </wizard-pages>
     <wizard-pages action="jst.jsf.v12.install">
        <page class="org.eclipse.jst.jsf.ui.internal.project.facet.JSFFacetInstallPage"/>
     </wizard-pages>
  </extension>  
</plugin>
