<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!-- New JSF wizard -->
  <extension point="org.eclipse.ui.newWizards">
    <wizard
            id="org.eclipse.jst.jsf.ui.internal.wizard.NewJSFWizard"
            name="%_UI_WIZARD_NAME"
            class="org.eclipse.jst.jsf.ui.internal.wizard.NewJSFWizard"
            category="org.eclipse.wst.web.ui"
            icon="$nl$/icons/full/etool16/newjsf_wiz.gif">
            <description>%_UI_WIZARD_CREATE_NEW_FILE</description>
            <selection class="org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>
  <!-- Add new JSF wizard to Project Explorer -->
  <extension
             id="org.eclipse.jst.jsf.commonWizard.newJSF"
             point="org.eclipse.ui.navigator.navigatorContent">
             <commonWizard
                           menuGroupId="org.eclipse.wst.web.ui"
                           type="new"
                           wizardId="org.eclipse.jst.jsf.ui.internal.wizard.NewJSFWizard">
                           <enablement>
                             <or>
                               <adapt type="org.eclipse.core.resources.IResource">
                                 <test
                                       property="org.eclipse.wst.common.project.facet.core.projectFacet"
                                       value="jst.web"/>
                                 </adapt>
                               </or>
                             </enablement>
             </commonWizard>
  </extension>
  <!-- JSF Project Facet --> 
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.jst.jsf.ui.JSFRootPage"
           class="org.eclipse.jst.jsf.ui.internal.validation.JSFValidationPreferencePage"
           id="org.eclipse.jst.jsf.ui.JSFValidationPage"
           name="%preferencepage.jsfvalidation.name"/>
     <page
           category="org.eclipse.wst.html.ui.preferences.web"
           class="org.eclipse.jst.jsf.ui.internal.preferences.JSFFilesPreferencePage"
           id="org.eclipse.jst.jsf.ui.JSFRootPage"
           name="%preferencepage.jsf.name">
     </page>
     <page
           category="org.eclipse.jst.jsf.ui.JSFRootPage"
           class="org.eclipse.jst.jsf.ui.internal.preferences.JSPTagRegistryPreferencePage"
           id="org.eclipse.jst.jsf.ui.jsfTagRegistry"
           name="%JSF_Tag_Registry_Preferences">
     </page>
     <page
           name="%JSF_Templates.name"
           category="org.eclipse.jst.jsf.ui.JSFRootPage"
           class="org.eclipse.jst.jsf.ui.internal.preferences.ui.JSFTemplatePreferencePage"
           id="org.eclipse.wst.sse.ui.preferences.jsf.templates">
           <keywordReference id="org.eclipse.jst.jsf.ui.templates"/>
     </page>
  </extension>
  
  <extension point="org.eclipse.ui.propertyPages">
    <page
          adaptable="true"
          category="org.eclipse.wst.common.project.facet.ui.FacetsPropertyPage"
          class="org.eclipse.jst.jsf.ui.internal.project.facet.JSFLibraryPropertyPage"
          id="org.eclipse.jst.jsf.ui.internal.project.facet.JSFLibraryPropertyPage"
          name="%jsf.library.property.page"
          objectClass="org.eclipse.core.resources.IProject">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test 
            forcePluginActivation="true"
            property="org.eclipse.wst.common.project.facet.core.projectFacet"
            value="jst.jsf"/>
        </adapt>
      </enabledWhen>          
    </page>
  </extension>

  <extension 
        point="org.eclipse.wst.common.project.facet.ui.wizardPages">
     <wizard-pages action="jst.jsf.v11.install">
        <page class="org.eclipse.jst.jsf.ui.internal.project.facet.JSFFacetInstallPage"/>
     </wizard-pages>
     <wizard-pages action="jst.jsf.v30.install">
        <page class="org.eclipse.jst.jsf.ui.internal.project.facet.JSFFacetInstallPage"/>
     </wizard-pages>
  </extension>  
  
  <extension point="org.eclipse.wst.sse.ui.editorConfiguration"> 
	<sourceViewerConfiguration
            class="org.eclipse.jst.jsp.ui.StructuredTextViewerConfigurationJSP"
            target="org.eclipse.jst.jsf.core.jsfsource"/>
                <provisionalConfiguration 
                        type="contentassistprocessor" 
                        class="org.eclipse.jst.jsf.ui.internal.contentassist.el.JSFELContentAssistProcessor" 
                        target="org.eclipse.jst.jsp.SCRIPT.JSP_EL2" /> 
                <provisionalConfiguration 
                        type="contentassistprocessor" 
                        class="org.eclipse.jst.jsf.ui.internal.contentassist.JSFContentAssistProcessor" 
                        target="org.eclipse.jst.jsp.JSP_DEFAULT,org.eclipse.jst.jsp.JSP_DIRECTIVE" />
    <documentationTextHover
          class="org.eclipse.jst.jsf.ui.internal.jspeditor.JSFELHover"
          target="org.eclipse.jst.jsp.SCRIPT.JSP_EL2">
    </documentationTextHover>
    </extension> 
    <extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.eclipse.jst.jsf.ui.internal.validation.JSFValidator"
			id="org.eclipse.jst.jsf.validation.JSFAttributeValueValidator">
			<contentTypeIdentifier
				id="org.eclipse.jst.jsf.core.jsfsource">
				<partitionType id="org.eclipse.jst.jsp.DEFAULT_JSP">
				</partitionType>
				<partitionType id="org.eclipse.jst.jsp.JSP_DIRECTIVE">
				</partitionType>
				<partitionType id="org.eclipse.jst.jsp.SCRIPT.JSP_EL2">
				</partitionType>
			</contentTypeIdentifier>
		</validator>
	</extension>
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             class="org.eclipse.jst.jsf.ui.internal.jspeditor.JSPELHyperlinkDetector"
             id="org.eclipse.jst.jsf.ui.elhyperlinkdetector"
             name="%EL_Hyperlinkdetector_name"
             targetId="org.eclipse.jst.jsf.core.jsfsource">
       </hyperlinkDetector>
    </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%jsf.ui.views.category.name"
            id="org.eclipse.jst.jsf.ui.view.category">
      </category>
      <view
            name="%jsf.ui.views.componentview.name"
            category="org.eclipse.jst.jsf.ui.view.category"
            class="org.eclipse.jst.jsf.ui.internal.component.ComponentTreeView"
            id="org.eclipse.jst.jsf.ui.component.ComponentTreeView">
      </view>
      <view
            category="org.eclipse.jst.jsf.ui.view.category"
            class="org.eclipse.jst.jsf.ui.internal.tagregistry.TagRegistryView"
            icon="icons/obj16/library_obj.gif"
            id="org.eclipse.jst.jsf.ui.tagregistry.TagRegistryView"
            name="%jsf.ui.views.jsftagregistry.name">
      </view>
   </extension>
   
   <extension
        id="JSPSemanticsValidatorMarker"
        name="%JSPSemanticsValidatorMarker"
        point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.wst.validation.problemmarker">
      </super>
    </extension>

   <extension
         id="JSFNonELAttributeValueValidator"
         name="%JSFNonELAttributeValueValidator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.jst.jsf.ui.internal.validation.JSFValidator"
            manual="true"
            markerId="org.eclipse.jst.jsf.ui.JSPSemanticsValidatorMarker"
            sourceid="org.eclipse.jst.jsf.validation.JSFAttributeValueValidator"
            version="1">
         <include>
            <rules>
               <facet
                     id="jst.java">
               </facet>
            </rules>
         </include>
         <include>
            <rules>
               <facet
                     id="jst.web">
               </facet>
            </rules>
         </include>
         <include>
            <rules>
               <facet
                     id="jst.jsf">
               </facet>
            </rules>
         </include>
         <include>
            <rules>
               <projectNature
                     id="org.eclipse.wst.common.modulecore.ModuleCoreNature">
               </projectNature>
            </rules>
         </include>
         <include>
            <rules>
               <projectNature
                     id="org.eclipse.jdt.core.javanature">
               </projectNature>
            </rules>
         </include>
         <include>
            <rules>
               <contentType
                     exactMatch="false"
                     id="org.eclipse.jst.jsf.core.jsfsource">
               </contentType>
               <contentType
                     exactMatch="true"
                     id="org.eclipse.jst.jsf.core.jsffragmentsource">
               </contentType>
            </rules>
         </include>
         <group
               id="org.eclipse.wst.sse.core.structuredModelGroup">
         </group>
      </validator>
   </extension>

   <extension id="JSFAppConfigValidator" name="%JSFAppConfigValidator" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.jst.jsf.validation.internal.appconfig.AppConfigValidator"
            manual="true"
            markerId="org.eclipse.jst.jsf.ui.JSPSemanticsValidatorMarker"
            version="1">
         <include>
            <rules>
				<projectNature id="org.eclipse.wst.common.modulecore.ModuleCoreNature"/>
            </rules>
         </include>
         <include>
            <rules>
				<projectNature id="org.eclipse.jdt.core.javanature"/>
            </rules>
         </include>
         <include>
            <rules>
				<contentType id="org.eclipse.jst.jsf.facesconfig.facesConfigFile" exactMatch="true" />
            </rules>
         </include>
      </validator>
   </extension>

    <extension
          point="org.eclipse.ui.editors.templates">
       <contextType
            name="%JSF_New_context_type_Extension_Element.name"
            class="org.eclipse.jst.jsf.ui.internal.templates.TemplateContextTypeJSF"
            id="jsf_new" />
       <template
             autoinsert="true"
             contextTypeId="jsf_new"
             description="%NewJSF40Page_description"
             id="org.eclipse.jst.jsf.ui.new_jsf40_page"
             name="%NewJSF40Page">
          <pattern>
             &lt;?xml version=&quot;1.0&quot; encoding=&quot;${encoding}&quot;?&gt;
&lt;!DOCTYPE html&gt;
&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot; xmlns:f=&quot;jakarta.faces.core&quot; xmlns:h=&quot;jakarta.faces.html&quot;&gt;
&lt;f:view contentType=&quot;text/html&quot; encoding=&quot;${encoding}&quot;&gt;
&lt;h:head&gt;
&lt;title&gt;Insert title here&lt;/title&gt;
&lt;/h:head&gt;
&lt;h:body&gt;
${cursor}
&lt;/h:body&gt;
&lt;/f:view&gt;
&lt;/html&gt;
          </pattern>
       </template>
       <template
             autoinsert="true"
             contextTypeId="jsf_new"
             description="%NewJSF30Page_description"
             id="org.eclipse.jst.jsf.ui.new_jsf30_page"
             name="%NewJSF30Page">
          <pattern>
             &lt;?xml version=&quot;1.0&quot; encoding=&quot;${encoding}&quot;?&gt;
&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot; &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&gt;
&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot; xmlns:f=&quot;http://xmlns.jcp.org/jsf/core&quot; xmlns:h=&quot;http://xmlns.jcp.org/jsf/html&quot;&gt;
&lt;f:view contentType=&quot;text/html&quot; encoding=&quot;${encoding}&quot;&gt;
&lt;h:head&gt;
&lt;title&gt;Insert title here&lt;/title&gt;
&lt;/h:head&gt;
&lt;h:body&gt;
${cursor}
&lt;/h:body&gt;
&lt;/f:view&gt;
&lt;/html&gt;
          </pattern>
       </template>
       <template
             autoinsert="true"
             contextTypeId="jsf_attribute_value"
             description="%NewELExpression_description"
             id="org.eclipse.jst.jsf.ui.newelexpression"
             name="%NewELExpression">
          <pattern>
             "#{${cursor}}"
          </pattern>
       </template>
    </extension>
        
</plugin>
