<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="pageDesignerExtension" name="Web Page Editor Extension" schema="schema/pageDesignerExtension.exsd" />
	<extension-point id="ResourceContributions" name="%Resource_Contributions_Extension.name" schema="schema/ResourceContributions.exsd" />
	<extension-point id="propertySections" name="Property Section" schema="schema/propertySections.exsd" />
	<extension-point id="propertyContributor" name="property contributor" schema="schema/propertyContributor.exsd" />
	<extension-point id="popupMenuContributor" name="popupMenu Contributor" schema="schema/popupMenuContributor.exsd"/>
	<extension-point id="cmRegistry" name="Content Model Meta Data" schema="schema/cmRegistry.exsd"/>
	<extension-point id="PaletteItemConfigContributions" name="%PaletteItem_Config_Contributions_Extension.name" schema="schema/PaletteItemConfigContributions.exsd"/>

	<extension point="org.eclipse.ui.editors">
		<editor class="org.eclipse.jst.pagedesigner.editors.HTMLEditor"
			contributorClass="org.eclipse.jst.pagedesigner.editors.actions.PageDesignerActionBarContributor2"
			default="true"
			extensions="jsp,jsf,html,htm,xhtml"
			icon="icons/PD_Plugin.gif"
			id="org.eclipse.jst.pagedesigner.PageDesignerEditor"
			name="Web Page Editor">
		</editor>
	</extension>

	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			class="org.eclipse.jst.pagedesigner.utils.UriAdapterFactory"
			adaptableType="org.eclipse.core.resources.IProject">
			<adapter type="org.eclipse.wst.sse.core.internal.util.URIResolver" />
		</factory>
		<factory
			class="org.eclipse.jst.pagedesigner.dnd.internal.TextEditorDropTargetListenerFactory"
			adaptableType="org.eclipse.jst.jsp.ui.internal.editor.StructuredTextEditorJSP">
			<adapter type="org.eclipse.ui.texteditor.ITextEditorDropTargetListener" />
		</factory>
	</extension>

	<extension point="org.eclipse.wst.common.ui.properties.propertyTabs">
		<propertyTabs
			contributorId="org.eclipse.jst.pagedesigner.pageDesigner.tabPropertyContributor">
			<propertyTab label="Quick Edit" category="Quick Edit" id="org.eclipse.jst.pagedesigner.tabQuickEdit" />
			<propertyTab label="Attributes" category="Attributes" id="org.eclipse.jst.pagedesigner.tabAttributes" />
		</propertyTabs>
	</extension>

	<extension
		point="org.eclipse.wst.common.ui.properties.propertyContributor">
		<propertyContributor
			sectionDescriptorProvider="org.eclipse.jst.pagedesigner.properties.internal.DesignerTabPropertySectionDescriptorProvider"
			contributorId="org.eclipse.jst.pagedesigner.pageDesigner.tabPropertyContributor">
			<propertyCategory category="Quick Edit" />
			<propertyCategory category="Attributes" />
		</propertyContributor>
	</extension>

	<extension
		point="org.eclipse.jst.pagedesigner.propertySections">
		<propertySections>
			<propertySection afterSection="top"
				class="org.eclipse.jst.pagedesigner.properties.AllPropertySection"
				tab="org.eclipse.jst.pagedesigner.tabAttributes"
				id="section.allproperty" />
		</propertySections>
	</extension>
	
	<extension point="org.eclipse.jst.pagedesigner.pageDesignerExtension">
		<linkCreator class="org.eclipse.jst.pagedesigner.actions.link.HtmlLinkCreator" linkIdentifier="Html Link"/>
	</extension>

	<extension point="org.eclipse.jst.pagedesigner.PaletteItemConfigContributions">
		<config path="configs/html_pi.xml" index="10"/>
		<config path="configs/jsp_pi.xml" index="20" />
	</extension>
	
	<extension id="org.eclipse.jst.pagedesigner.commands" point="org.eclipse.ui.commands">
		<category id="org.eclipse.jst.pagedesigner.pagelayout" name="Page Layout"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout"
			id="org.eclipse.jst.pagedesigner.vertical"
			name="vertical Layout"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout" 
			id="org.eclipse.jst.pagedesigner.horizotal"
			name="horizotal Layout"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout"
			id="org.eclipse.jst.pagedesigner.design"
			name="graphical designer"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout"
			id="org.eclipse.jst.pagedesigner.source"
			name="source code"/>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key commandId="org.eclipse.jst.pagedesigner.vertical"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+M2+F9"/>
		<key commandId="org.eclipse.jst.pagedesigner.horizotal"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+M2+F10"/>
		<key commandId="org.eclipse.jst.pagedesigner.design"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+M2+F11"/>
		<key commandId="org.eclipse.jst.pagedesigner.source"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window"
			sequence="M1+M2+F12"/>
	</extension>
	
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<contentOutlineConfiguration
			class="org.eclipse.jst.pagedesigner.editors.OutlineConfiguration"
			target="org.eclipse.jst.pagedesigner.editors.DesignerStructuredTextEditorJSP"/>
	</extension>
</plugin>