<?eclipse version="3.0"?>
<plugin>
	<extension-point id="pageDesignerExtension" name="%extension-point.name.0" schema="schema/pageDesignerExtension.exsd" />
	<extension-point id="propertyContributor" name="%extension-point.name.1" schema="schema/propertyContributor.exsd" />
	<extension-point id="popupMenuContributor" name="%extension-point.name.2" schema="schema/popupMenuContributor.exsd"/>

	<extension point="org.eclipse.ui.editors">
		<editor class="org.eclipse.jst.pagedesigner.editors.HTMLEditor"
			contributorClass="org.eclipse.jst.pagedesigner.editors.actions.PageDesignerActionBarContributor2"
			default="false"
			extensions="jsp,jspx,jsf,html,htm,xhtml"
			icon="icons/PD_Plugin.gif"
			id="org.eclipse.jst.pagedesigner.PageDesignerEditor"
			name="%editor.name.0">
		</editor>
	</extension>

	<extension point="org.eclipse.ui.actionSetPartAssociations">
    	<actionSetPartAssociation targetID="org.eclipse.debug.ui.launchActionSet">
        	<part id="org.eclipse.jst.pagedesigner.PageDesignerEditor"/>
    	</actionSetPartAssociation>
	</extension>

	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			class="org.eclipse.jst.pagedesigner.utils.UriAdapterFactory"
			adaptableType="org.eclipse.core.resources.IProject">
			<adapter type="org.eclipse.wst.sse.core.internal.util.URIResolver" />
		</factory>
  <factory
        adaptableType="org.eclipse.jst.pagedesigner.parts.NodeEditPart"
        class="org.eclipse.jst.pagedesigner.utils.IFileAdapterFactory">
        <adapter type="org.eclipse.core.resources.IFile">
     </adapter>
  </factory>
  <factory
        adaptableType="org.eclipse.jst.pagedesigner.parts.NodeEditPart"
        class="org.eclipse.jst.pagedesigner.utils.IResourceAdapterFactory">
        <adapter type="org.eclipse.core.resources.IResource">
     </adapter>
  </factory>
  <factory
        adaptableType="org.eclipse.jst.pagedesigner.parts.NodeEditPart"
        class="org.eclipse.jst.pagedesigner.utils.IWorkbenchAdapterFactory">
     <adapter
           type="org.eclipse.ui.model.IWorkbenchAdapter">
     </adapter>
  </factory>
	</extension>

	 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs
			contributorId="org.eclipse.jst.pagedesigner.tabPropertyContributor">
			<propertyTab label="%propertyTab.label.QuickEdit" category="Quick Edit" id="org.eclipse.jst.pagedesigner.tabQuickEdit" />
			<propertyTab label="%propertyTab.label.Attributes" category="Attributes" id="org.eclipse.jst.pagedesigner.tabAttributes" />
		</propertyTabs>
 	</extension>
 	
  	<extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections 
			contributorId="org.eclipse.jst.pagedesigner.tabPropertyContributor">
			<propertySection
         		afterSection="top"
         		class="org.eclipse.jst.pagedesigner.properties.AllPropertySection"
         		id="section.allproperty"
        	 	tab="org.eclipse.jst.pagedesigner.tabAttributes">
  			 </propertySection>
		</propertySections>
	</extension>

	<extension point="org.eclipse.jst.pagedesigner.pageDesignerExtension">
		<linkCreator class="org.eclipse.jst.pagedesigner.actions.link.HtmlLinkCreator" linkIdentifier="Html Link"/>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.AppendChildElementOperation"
        id="AppendChildElementOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.AppendChildTextFromXPathOperation"
        id="AppendChildTextFromXPathOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.AppendChildTextOperation"
        id="AppendChildTextOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.ConvertAttributeToTextOperation"
        id="ConvertAttributeToTextOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CopyAllAttributesOperation"
        id="CopyAllAttributesOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CopyAttributeOperation"
        id="CopyAttributeOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CopyAttributeWithRenameOperation"
        id="CopyAttributeWithRenameOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CopyChildrenOperation"
        id="CopyChildrenOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CreateAttributeFromXPathOperation"
        id="CreateAttributeFromXPathOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CreateAttributeOperation"
        id="CreateAttributeOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CreateElementOperation"
        id="CreateElementOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.IfNotOperation"
        id="IfNotOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.IfOperation"
        id="IfOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.IterateOverElementsOperation"
        id="IterateOverElementsOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.MakeParentElementCurrentOperation"
        id="MakeParentElementCurrentOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.RemoveAttributeOperation"
        id="RemoveAttributeOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.RenameAttributeOperation"
        id="RenameAttributeOperation">
    </tagTransformOperation>
    <tagTransformOperation
        class="org.eclipse.jst.pagedesigner.dtmanager.converter.operations.internal.CheckModeOperation"
        id="CheckModeOperation">
    </tagTransformOperation>
    <elValueResolver
          class="org.eclipse.jst.pagedesigner.preview.DefaultELValueResolver">
    </elValueResolver>
	</extension>
	
	<extension id="org.eclipse.jst.pagedesigner.commands" point="org.eclipse.ui.commands">
		<category id="org.eclipse.jst.pagedesigner.pagelayout" name="%category.name.0"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout"
			id="org.eclipse.jst.pagedesigner.vertical"
			name="%command.name.0"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout" 
			id="org.eclipse.jst.pagedesigner.horizotal"
			name="%command.name.1"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout"
			id="org.eclipse.jst.pagedesigner.design"
			name="%command.name.2"/>
		<command categoryId="org.eclipse.jst.pagedesigner.pagelayout"
			id="org.eclipse.jst.pagedesigner.source"
			name="%command.name.3"/>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key commandId="org.eclipse.jst.pagedesigner.vertical"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.jst.pagedesigner.editorContext"
			sequence="M1+M2+F9"/>
		<key commandId="org.eclipse.jst.pagedesigner.horizotal"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.jst.pagedesigner.editorContext"
			sequence="M1+M2+F10"/>
		<key commandId="org.eclipse.jst.pagedesigner.design"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.jst.pagedesigner.editorContext"
			sequence="M1+M2+F11"/>
		<key commandId="org.eclipse.jst.pagedesigner.source"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.jst.pagedesigner.editorContext"
			sequence="M1+M2+F12"/>
		<key sequence="M1+F5" 
			 commandId="org.eclipse.ui.part.nextPage"
			 contextId="org.eclipse.jst.pagedesigner.editorContext"
			 schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
		<key sequence="M1+M2+F5" 
			 commandId="org.eclipse.ui.part.previousPage"
			 contextId="org.eclipse.jst.pagedesigner.editorContext"
			 schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
	</extension>
	
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<contentOutlineConfiguration
			class="org.eclipse.jst.pagedesigner.editors.OutlineConfiguration"
			target="org.eclipse.jst.pagedesigner.editors.DesignerStructuredTextEditorJSP"/>
	</extension>
	
	<extension point="org.eclipse.emf.ecore.generated_package">
    <package
          class="org.eclipse.jst.pagedesigner.dtmanager.dtinfo.DTInfoPackage"
          genModel="model/DTInfo.genmodel"
          uri="http://org.eclipse.jsf.pagedesigner/dtinfo.ecore">
    </package>
    <package
          class="org.eclipse.jst.pagedesigner.editors.properties.quickedittabsections.QuickEditTabSectionsPackage"
          genModel="model/QuickEditTabSections.genmodel"
          uri="http://org.eclipse.jsf.pagedesigner/QuickEditTabSections.ecore">
    </package>
   </extension>

 <extension
       point="org.eclipse.ui.contexts">
    <context
          description="%editor.binding.context.description"
          id="org.eclipse.jst.pagedesigner.editorContext"
          name="%editor.binding.context.name"
          parentId="org.eclipse.ui.textEditorScope">
    </context>
 </extension>
 <extension
       point="org.eclipse.jst.jsf.core.MetaDataEnabledFeatures">
    <MetaDataEnabledFeature
          class="org.eclipse.jst.pagedesigner.editors.properties.internal.PropertyDescriptor"
          typeid="org.eclipse.jst.jsf.core.attributevalues.BaseType">
    </MetaDataEnabledFeature>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="org.eclipse.jst.pagedesigner.tabPropertyContributor"
          tabDescriptorProvider="org.eclipse.jst.pagedesigner.properties.internal.WPETabDescriptorProvider">
       <propertyCategory></propertyCategory>
    </propertyContributor>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          adaptable="true"
          class="org.eclipse.jst.pagedesigner.ui.dialogs.WPEPropertyPage"
          id="org.eclipse.jst.pagedesigner.WPEPropertyPage"
          name="%ext-pt.WPEPropPage.name"
          objectClass="org.eclipse.core.resources.IProject">
       <enabledWhen>
          <and>
             <adapt type="org.eclipse.core.resources.IProject">
                <or>
                   <test
                      forcePluginActivation="true"
                      property="org.eclipse.wst.common.project.facet.core.projectFacet"
                      value="jst.web">
                   </test>
                   <test
                      forcePluginActivation="true"
                      property="org.eclipse.wst.common.project.facet.core.projectFacet"
                      value="wst.web">
                   </test>
                </or>
             </adapt>
          </and>
       </enabledWhen>
    </page>
 </extension>
 <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.jst.jsf.ui.JSFRootPage"
           class="org.eclipse.jst.pagedesigner.ui.preferences.PDPreferencePage"
           id="org.eclipse.jst.jsf.pagedesigner.ui.preferences.PDPreferences"
           name="%preferencepage.webPageEditor.name"/>
  </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.jst.pagedesigner.ui.preferences.PDPreferences">
    </initializer>
 </extension>
</plugin>
