<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jst.jsf.common.standardMetaDataFiles">
      <standardMetaDataFile
            location="/metadata/trinidad.xml"
            uri="http://myfaces.apache.org/trinidad">
      </standardMetaDataFile>  
      <standardMetaDataFile
            location="/metadata/trinidad_pi.xml"
            uri="http://myfaces.apache.org/trinidad">
      </standardMetaDataFile>    
      <standardMetaDataFile
            location="/metadata/trinidad_dti.xml"
            uri="http://myfaces.apache.org/trinidad">
      </standardMetaDataFile>
      <standardMetaDataFile
            location="/metadata/trinidad_html.xml"
            uri="http://myfaces.apache.org/trinidad/html">
      </standardMetaDataFile>
      <standardMetaDataFile
            location="/metadata/trinidad_html_pi.xml"
            uri="http://myfaces.apache.org/trinidad">
      </standardMetaDataFile> 
      <standardMetaDataFile
            location="/metadata/trinidad_html_dti.xml"
            uri="http://myfaces.apache.org/trinidad/html">
      </standardMetaDataFile>
   </extension>
   <extension
         point="org.eclipse.jst.pagedesigner.pageDesignerExtension">
      <elementEditFactory
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.elementedit.TrinidadCoreElementEditFactory">
      </elementEditFactory>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.PanelTabbedOperation"
            id="PanelTabbedOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.ShowDetailItemOperation"
            id="ShowDetailItemOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.OutputFormattedTransformOperation"
            id="OutputFormattedOperation">
      </tagTransformOperation>
   </extension>

</plugin>
