<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jst.jsf.common.standardMetaDataFiles">
      <standardMetaDataFile
            location="$nl$/metadata/trinidad.xml"
            uri="http://myfaces.apache.org/trinidad">
      </standardMetaDataFile>  
      <standardMetaDataFile
            location="$nl$/metadata/trinidad_pi.xml"
            uri="http://myfaces.apache.org/trinidad">
      </standardMetaDataFile>    
      <standardMetaDataFile
            location="$nl$/metadata/trinidad_dti.xml"
            uri="http://myfaces.apache.org/trinidad">
      </standardMetaDataFile>
      <standardMetaDataFile
            location="$nl$/metadata/trinidad_html.xml"
            uri="http://myfaces.apache.org/trinidad/html">
      </standardMetaDataFile>
      <standardMetaDataFile
            location="$nl$/metadata/trinidad_html_pi.xml"
            uri="http://myfaces.apache.org/trinidad/html">
      </standardMetaDataFile> 
      <standardMetaDataFile
            location="$nl$/metadata/trinidad_html_dti.xml"
            uri="http://myfaces.apache.org/trinidad/html">
      </standardMetaDataFile>
   </extension>
   <extension
         point="org.eclipse.jst.pagedesigner.pageDesignerExtension">
      <elementEditFactory
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.elementedit.TrinidadCoreElementEditFactory">
      </elementEditFactory>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.CreateStyleAttributeOperation"
            id="CreateStyleAttributeOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.InputFileOperation"
            id="InputFileOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.InputTextOperation"
            id="InputTextOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.InputTextWithIconOperation"
            id="InputTextWithIconOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.OutputFormattedOperation"
            id="OutputFormattedOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.PanelGroupLayoutOperation"
            id="PanelGroupLayoutOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.PanelLabelAndMessageOperation"
            id="PanelLabelAndMessageOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.PanelTabbedOperation"
            id="PanelTabbedOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.SelectBooleanOperation"
            id="SelectBooleanOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.SelectListboxChoiceOperation"
            id="SelectListboxChoiceOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.SelectManyCheckboxOneRadioOperation"
            id="SelectManyCheckboxOneRadioOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.SelectShuttleOperation"
            id="SelectShuttleOperation">
      </tagTransformOperation>
      <tagTransformOperation
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.converter.operations.ShowDetailItemOperation"
            id="ShowDetailItemOperation">
      </tagTransformOperation>
   </extension>
   <extension
         point="org.eclipse.jst.jsf.core.variableresolver">
      <variableresolver
            class="org.eclipse.jst.jsf.apache.trinidad.tagsupport.el.TrinidadDecorativeVariableResolver"
            forRuntimeClass="org.apache.myfaces.trinidadinternal.el.TrinidadVariableResolver"
            id="org.eclipse.jst.jsf.apache.trinidad.tagsupport.variableresolver1">
      </variableresolver>
   </extension>

</plugin>
