<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="projectTaglibDescriptorFactory" name="%extension-point.name" schema="schema/testProjectTaglibDescriptorFactory.exsd"/>
   <extension-point id="componentCoreQueryFactory" name="%componentCoreQueryFactory-ext-pt" schema="schema/componentCoreQueryFactory.exsd"/>
    <extension
          point="org.eclipse.jst.jsf.core.tagregistry">
       <tagRegistry
             class="org.eclipse.jst.jsf.facelet.core.internal.registry.FaceletRegistryManager$MyRegistryFactory"
             description="%tagRegistry.description.0"
             id="FaceletRegistry">
          <content-type
                contentTypeId="org.eclipse.wst.html.core.htmlsource">
          </content-type>
       </tagRegistry>
    </extension>
    <extension point="org.eclipse.wst.xml.core.documentFactories">
        <factory
            type="xhtml"
            class="org.eclipse.jst.jsf.facelet.core.internal.cm.FaceletDocumentFactory">
        </factory>
    </extension>
    <extension
          point="org.eclipse.jst.jsf.core.viewhandler">
       <viewhandler
             class="org.eclipse.jst.jsf.facelet.core.internal.view.DTFaceletViewHandler"
             id="org.eclipse.jst.jsf.facelet.core.html.viewhandler">
       </viewhandler>
    </extension>
    <extension
        point="org.eclipse.emf.edit.itemProviderAdapterFactories">
        <factory 
       uri = "http://org.eclipse.jst.jsf.facelet.core/additionalTagMetadata.ecore" 
       class = "org.eclipse.jst.jsf.facelet.core.internal.cm.addtagmd.provider.AddTagMDItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource
          org.eclipse.jst.jsf.facelet.core.internal.cm.addtagmd.provider.IResourceProvider"/>
  </extension>
    <extension
          point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution id="default">
             <public
                publicId="-//Sun Microsystems, Inc.//DTD Facelet Taglib 1.0//EN"
                uri="dtd/facelet-taglib_1_0.dtd"
                webURL="facelet-taglib_1_0.dtd" />
       </catalogContribution>
    </extension>
    
       <extension
         point="org.eclipse.jst.jsf.core.AttributeValueRuntimeTypes">

      <attributeValueRuntimeType
            class="org.eclipse.jst.jsf.facelet.core.internal.cm.attributevalues.TemplateWebPathType"
            id="attributevalues.TemplateWebPathType"/>
    </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://org.eclipse.jst.jsf.facelet.core/additionalTagMetadata.ecore" 
       class = "org.eclipse.jst.jsf.facelet.core.internal.cm.addtagmd.AddTagMDPackage"
       genModel = "model/additionalTagMetadata.genmodel" /> 
  </extension> 
  <extension
        point="org.eclipse.jst.jsf.common.domainSourceModelTypes">
      <domainSourceModelTypes
            domainId="TagLibraryDomain"
            domainSourceModelTypeId="FaceletNamespaceContentModelHandler"
            locator="org.eclipse.jst.jsf.facelet.core.internal.metadata.FaceletNamespaceMetaDataLocator"
            ordinal="3">
      </domainSourceModelTypes>      
  </extension>
 
  <extension
        point="org.eclipse.jst.jsf.common.domainSourceModelTypeTranslators">
    <domainSourceModelTypeTranslator
          domainSourceModelTypeId="FaceletNamespaceContentModelHandler"
          translatorClass="org.eclipse.jst.jsf.facelet.core.internal.metadata.FaceletNamespaceMetaDataTranslator">
    </domainSourceModelTypeTranslator>                
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated facelet-taglib-2_0 -->
      <package
            uri="http://java.sun.com/xml/ns/javaee/web-facelettaglibrary_2_0"
            class="org.eclipse.jst.jsf.facelet.core.internal.registry.taglib.faceletTaglib.FaceletTaglibPackage"
            genModel="model/facelet-taglib-2_0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated facelet-taglib-2_0 -->
      <parser
            type="taglib.xml"
            class="org.eclipse.jst.jsf.facelet.core.internal.registry.taglib.faceletTaglib.util.FaceletTaglibResourceFactoryImpl"/>
   </extension>
</plugin>
